<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- Navigation -->
<script src="{{ 'responsive-nav.js' | asset_url }}"></script>

  </head>
  <body class="custom_ppjoel">

    <header>
      <a href="#home" class="logo" data-scroll><img src="https://cdn.shopify.com/s/files/1/2060/5733/files/Logo_4c_150x_61ec6233-ccec-407c-bddd-fc12e9982cab.png" alt=""></a>
      <nav class="nav-collapse">
        <ul>
          <li class="menu-item active"><a href="#how" data-scroll>How It Work</a></li>
          <li class="menu-item"><a href="#ingredients" data-scroll>Ingredients</a></li>
          <li class="menu-item"><a href="#reviews" data-scroll>Reviews</a></li>
          <li class="menu-item"><a href="pages/price-provitalize-2" data-scroll>Buy Now</a></li>
        </ul>
      </nav>
    </header>

    <script src="{{ 'fastclick.js' | asset_url }}"></script>
    <script src="{{ 'scroll.js' | asset_url }}"></script>
    <script src="{{ 'fixed-responsive-nav.js' | asset_url }}"></script>
<!-- End Navigation -->

<div class="videoBanner videoBanner2">
  <div class="video-overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://cdn.shopify.com/s/files/1/2060/5733/files/face-smile.mp4?11626849963831433523https://cdn.shopify.com/s/files/1/2060/5733/files/face-smile.mp4" type="video/mp4">
  </video>
  <div class="video_container h-100">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h1 class="headline">Say Hello To A Better Body.</h1>
        <div class="subtitle">
          <p>Introducing Provitalize: Thermogenic Probiotic Formula<br>
              That Supports Reduction In Stubborn Fat</p>
        </div>
        <div class="buttonArea">
            <!-- <a href="/pages/test-purposes" class="action_button first_button highlight-false " >
                  Watch Video</a> -->
            <a href="/pages/price-provitalize-2" class="action_button second_button highlight-true ">
                  Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container first-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headline text-center">The Key Difference Between Normal & Thermogenic Probiotics</h1>
      <p class="text-content">While most probiotics help with digestion & immunity, "Thermogenic" probiotics are specific strains that mimic the fat burning effects of thermogenic supplements like capsicum, green tea & caffeine. These strains also rebalance the gut flora for people with digestive issues, helping the body manage weight naturally, without typical side effects (elevated heart rate, insomnia etc). "Thermogenic" strains have been studied to impact fat storage, calorie absorption, & support a prime metabolic state.</p>
    </div>
  </div>
</div>
<div class="container-fluid second-section sidepad-0">
  <div class="row">
    <div class="col-lg-4 sidepad-0">
      <img class="img-fluid purplewomen" src="https://cdn.shopify.com/s/files/1/2060/5733/files/purple_lady_desktop.png" />
     <p class="text-center"><img class="img-fluid purplewomen-tm" src="https://cdn.shopify.com/s/files/1/2060/5733/files/MOBILE_dna_woman.png" /></p>
    </div>
    <div class="col-lg-6 sidepad-0">
        <div class="description">
          <!-- <div class="fpimage"><img class="w-25" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icons-01.png"></div> --><div class="firstp"><p><strong>ID Specific Thermogenic Strain #1: L. Gasseri SBT 2055</strong> is a rare probiotic found in small amounts in fermented foods like Puba (a Brazilian staple). A study of 210 people showed an average of 8.5% loss of body fat after 12 weeks of consuming L. Gasseri. (1)</p></div>
          <!-- <div class="spimage"><img class="w-25" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icons-02.png"></div> --><div class="secondp"><p><strong>ID Specific Thermogenic Strain #2: B. Breve IDCC 4401</strong> is found naturally in our digestive tract. Additional studies have shown that B. Breve "activates" genes that impact fat metabolism and supports blood sugar levels. (2)</p></div>
          <!-- <div class="tpimage"><img class="w-25" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icons-03.png"></div> --><div class="thirdp"><p><strong>ID Specific Thermogenic Strain #3: B. Lactis R-108</strong> is present in raw milk and is used as starter culture for cheese, cottage cheese and butter milk. This special strain has also been shown to promote better digestion, manage inflammatory responses, cholesterol levels and also acts as an anti-oxidant. (3)</p></div>
        </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<div class="container third-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headline text-center">Specific Strains To Help Manage Weight Naturally, Without The Need For Over-Strenuous Exercise.</h1>
      <p class="text-content">With multiple probiotic supplements available, it's crucial to pick the one that is right for you. It's common to get confused over which strains to pick so we've done the heavy lifting and formulated the perfect probiotic to support a healthy weight management diet.</p>
    </div>
  </div>
</div>
<div class="container fourth-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headline text-center">Meet Provitalize: <br>Turn Up The Heat On Stubborn Fat</h1>
      <img class="mobiles w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/reen-bottle-img-comp_fdf14dab-8682-4546-9370-ca4585a8f0a8.png?">
      <p class="text-content">Provitalize is a thermogenic probiotic supplement that dieters, workout enthusiasts & yoga mums love to add to their daily meals when they need the extra support. With natural herbs , specific thermogenic probiotic strains & absorption boosters, anyone can have a better shot at achieving weight loss goals.</p>
      <p class="text-center"><img class="img-fluid desktops" src="https://cdn.shopify.com/s/files/1/2060/5733/files/8_ingredients_2048x.png?v=1536651236" /></p>
    </div>
  </div>
</div>
<!-- <div class="container fifth-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headline text-center">How Does Provitalize Work?</h1>
      <p class="text-content">Our gut bacteria plays a bigger role in weight management when we previously thought. Here's how Provitalize works.</p>
    </div>
    <div class="col-lg-4 text-center">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/comic1-01.png?17490708899066752075" />
      <p clss="description">Specific Probiotics Impact Stubborn Fat</p>
    </div>
    <div class="col-lg-4 text-center">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/comic1-02.png?17490708899066752075" />
      <p clss="description">Natural Herbs Help With Cravings</p>
    </div>
    <div class="col-lg-4 text-center">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/comic1-03.png?17490708899066752075" />
      <p clss="description">Ingredient Boosters Support Absorption</p>
    </div>
  </div>
</div> -->
<hr id="how">
<div class="container sixth-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headline text-center">How Does The Synergistic Blend Of Thermogenic Strains, Natural Herbs & Absorption Boosters In Provitalize Work?</h1>
      <p class="text-content">Not all diet supplements are created equal. When choosing the right one, always consider products based on actual science, are natural with no stimulants & those that are optimized for maximum formula delivery and absorption. This synergistic formula blend supports all diets & workout regimes creating a higher impact on stubborn fat.</p>
    </div>
    <div class="col-lg-4 text-center pad20bottom">
      <div class="card round-mild-shadow">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/1.11_79665050-747a-4a81-af90-8c19bee392a6.png" />
          <h3 class="subtitle">L. Gasseri, B. Lactis, B. Breve Probiotics</h3>
          <p class="text-content text-left">Specific strains have been selected for their thermogenic properties that includes boosting metabolism, impacting calorie storage & digestion of stubborn fat. <br><br>L. Gasseri specifically, has been getting high acclaim, strong media attention and is currently being extensively researched in the US, Japan, New Zealand & UK for it's weight management properties. 
</p>
      </div>  
    </div>
    <div class="col-lg-4 text-center pad20bottom">
      <div class="card round-mild-shadow">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/1.22_6bf5b358-6197-46e6-93e7-fc69c7c4a971.png" />
          <h3 class="subtitle">Cucurmin, Moringa Leaf & Natural Curry Leaf Extracts</h3>
          <p class="text-content text-left" >Our blend of natural herbs support inflammatory response & manages cravings for sugary foods. The curcumin we use is pure and standardized to 95% curcuminoids. <br><br>This means you get a high potency that is still gentle to the gut. Moringa leaf extract is high is anti-oxidants, vitamin A, C, E and curry leaf supports good digestion. All are vital for managing weight naturally.</p>
      </div>
    </div>
    <div class="col-lg-4 text-center pad20bottom">
      <div class="card round-mild-shadow">
        <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/1.3_9f71e3a8-c56e-4756-906c-3310c4a44368.png" />
        <h3 class="subtitle">Sunflower Lecithin, BioPerine® & DRCaps™</h3>
        <p class="text-content text-left">Most supplements are not optimized for delivery which means you only get a fraction of what you pay for. That's why we've created a highly bioavailable supplement for maximum potency. <br><br>Many probiotics are gentle, live cultures that get quickly digested in stomach acid. With DRCaps™, the probiotic strains are protected until they reach the small intestine where they are then released to get to work.</p>
      </div>
    </div>
  </div>
</div>

<div class="container seventh-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headline text-center">Easier & Faster: How Provitalize Can Help Maximize Results From Any Diet Plan</h1>
      <p class="text-content">Provitalize is great on it's own, but even better as an amplifier. Whether you're on Keto, Vegan or  Paleo, going on diets to manage weight can be daunting. We're here to make things easier and to support you from falling off the bandwagon.</p>
    </div>
    <div class="col-lg-4 text-center pad20bottom">
      <div class="card">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2.1_3938e1e3-3c4d-4c6c-a428-77accabde7a6.png?17490708899066752075" />
          <h3 class="subtitle">Say No To Cravings & Second Helpings</h3>
          <p class="text-content text-left">The natural ingredients have been shown to support smaller appetites and faster satiation. Donuts, Pizza, Fried Chicken, Ice-Cream, Cookies. If those are your greatest enemies, don't worry Provitalize has got you covered.</p>
      </div>  
    </div>
    <div class="col-lg-4 text-center pad20bottom">
      <div class="card">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2.2.png?17490708899066752075" />
          <h3 class="subtitle">Maximize Workout Results</h3>
          <p class="text-content text-left" >Whether you're lifting weights, going for HIIT, jogs, daily walks or even going for dance class to get into better shape, Provitalize is there to amplify your results like your personal gym trainer. Minus the musty smell and sweat of course.</p>
      </div>
    </div>
    <div class="col-lg-4 text-center pad20bottom">
      <div class="card">
        <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2.3.png?17490708899066752075" />
        <h3 class="subtitle">Absorb Important Nutrients Better</h3>
        <p class="text-content text-left">Most diets ask you to give up certain foods. This typically includes many natural anti-oxidants and nutrients. Provitalize is there to back you up and provide the right vitamins & supplement your diet with absorption boosters.</p>
      </div>
    </div>
  </div>
</div>
<div class="eighth-section">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <h1 class="headline text-center">Diet-Friendly Supplements Produced With The Highest Quality & Safety In Mind.</h1>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-1.png?17490708899066752075"/>
          <p>Keto, Paleo & Vegan Friendly</p>
        </div>
        <div class="col-lg-2">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-2.png?17490708899066752075"/>
          <p>Natural Ingredients, Non-GMO & Stimulant Free</p>
        </div>
        <div class="col-lg-2">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-3.png?17490708899066752075"/>
          <p>GMP Facility Certfied</p>
        </div>
        <div class="col-lg-2">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-4.png?17490708899066752075"/>
          <p>Based On Clinical Studies</p>
        </div>
        <div class="col-lg-2"></div>    
      </div>

    </div>
</div>
<hr id="reviews">
<div class="nineth-section container">
  <div class="row">
        <div class="col-lg-12">
          <h1 class="headline text-center">Real, Verified Results: <br>See What Others Are Saying</h1>
          <p class="text-center">Note: All reviews below are from actual paying customers. They have been authenticated and verified by Okendo, an independent third party reviewing company.</p>
        </div>
        <p class="text-center"><img class="mobile-fullwidth" src="https://cdn.shopify.com/s/files/1/2060/5733/files/testimonials.png"></p>

        <div class="okendo">
        <!-- Okendo Review Widget -->
          <div data-oke-reviews-widget=""></div>
        </div>

        <!-- Carousell Slider -->

        <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-lg-12 d-flex">
      <div class="col-md-4 text-center pad20bottom">
          <div class="card border-0">
              <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2.1_3938e1e3-3c4d-4c6c-a428-77accabde7a6.png?17490708899066752075" />
              <h3 class="subtitle">Say No To Cravings & Second Helpings</h3>
              <p class="text-content text-left">The natural ingredients have been shown to support smaller appetites and faster satiation. Donuts, Pizza, Fried Chicken, Ice-Cream, Cookies. If those are your greatest enemies, don't worry Provitalize has got you covered.</p>
          </div>  
        </div>
        <div class="col-md-4 text-center pad20bottom">
          <div class="card border-0">
              <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2.2.png?17490708899066752075" />
              <h3 class="subtitle">Maximize Workout Results</h3>
              <p class="text-content text-left" >Whether you're lifting weights, going for HIIT, jogs, daily walks or even going for dance class to get into better shape, Provitalize is there to amplify your results like your personal gym trainer. Minus the musty smell and sweat of course.</p>
          </div>
        </div>
        <div class="col-md-4 text-center pad20bottom">
          <div class="card border-0">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2.3.png?17490708899066752075" />
            <h3 class="subtitle">Absorb Important Nutrients Better</h3>
            <p class="text-content text-left">Most diets ask you to give up certain foods. This typically includes many natural anti-oxidants and nutrients. Provitalize is there to back you up and provide the right vitamins & supplement your diet with absorption boosters.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      
    </div>
    <div class="carousel-item">
      
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

  </div>
</div>


<div class="tenth-section container">
  <div class="row">
        <div class="col-lg-12">
          <h1 class="headline text-center">Order With A Peace Of Mind</h1>
          <p class="text-center">Here at Better Body Co, we make sure every customer loves their product or we will refund 100% of their investment. We're so confident you'll enjoy Provitalize that we'll even absorb the fee on shipping returns.</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-5_39846ba6-febe-481c-882e-835622d0308a.png?17490708899066752075" />
            <h3 class="subtitle">Free Fast Shipping (2-7 Days In The US)</h3>
            <p class="text-content">No one likes waiting 21 days or more for their parcel. That's why we've given free expedited shipping on our dime, all so you get to try our products before the week ends.</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-7_c4b665b8-9619-4508-ada5-54d705b86b21.png?17490708899066752075" />
            <h3 class="subtitle">60-Day, Empty Bottle, 100% Guarantee</h3>
            <p class="text-content">Enjoy Provitalize for the next 60 days and if you don't love the experience, return us your empty bottle to get a full 100% money back guarantee.</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-1.png?17490708899066752075" />
            <h3 class="subtitle">Risk-Free Returns & Shipping</h3>
            <p class="text-content">Don't be afraid to give it back, Should you decide that you don't enjoy Provitalize, we'll even cover your return shipping fees.</p>
        </div>
    
  </div>
</div>

<div class="tenth-section container">
  <div class="row">
        <div class="col-lg-12">
          <h1 class="headline text-center">Try Provitalize</h1>
          <p class="text-center">Here at Better Body Co, we make sure every customer loves their product or we will refund 100% of their investment. We're so confident you'll enjoy Provitalize that we'll even absorb the fee on shipping returns.</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/pro_1_for_price_table.png" />
            <h3 class="subtitle">1 Bottle</h3>
            <p class="text-content">No one likes waiting 21 days or more for their parcel. That's why we've given free expedited shipping on our dime, all so you get to try our products before the week ends.</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/pro_3_for_price_table.png" />
            <h3 class="subtitle">3 Bottle</h3>
            <p class="text-content">Enjoy Provitalize for the next 60 days and if you don't love the experience, return us your empty bottle to get a full 100% money back guarantee.</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/pro_6_for_price_table.png" />
            <h3 class="subtitle">6 Bottle</h3>
            <p class="text-content">Don't be afraid to give it back, Should you decide that you don't enjoy Provitalize, we'll even cover your return shipping fees.</p>
        </div>
    
  </div>
</div>



<!-- <div class="twelveth-section container">
  <div class="row">
    <div class="col-lg-6 flex_box">
      <h1 class="headline" >What Taking Provitalize Will Do For You</h3>
      <ul class="bg_img_ul">
        <li>Manage Weight Naturally</li>
        <li>Impact Fat Absorption</li>
        <li>Improve Digestion</li>
        <li>Support Inflammatory Response</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid"  src="https://cdn.shopify.com/s/files/1/2060/5733/files/WEB_tummy_woman2.png?12047222125082333249" />
    </div>
  </div>
</div> -->



<div class="thirteen-section-desktop container-fluid sidepad-0">
  <img class="img-fluid"  src="https://cdn.shopify.com/s/files/1/2060/5733/files/WEB_2_woman.png?15377922885967412737" />
  <div class="description text-center">
    <h1 class="headline">Try Provitalize Today & Experience Better Health Tomorrow</h1>
    <p class="text-uppercase text-white">the power of thermogenic probiotics</p>
  </div>
</div>

<div class="thirteen-section-mobile container-fluid sidepad-0">
  <img class="img-fluid w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/MOBILE_2_woman_img.png?9409028484892574713" />
  <div class="description text-center">
    <h1 class="headline">Try Provitalize Today & Experience A Better Tomorrow</h1>
    <p class="text-uppercase text-white">the power of thermogenic probiotics</p>
  </div>
</div>


<!-- <div class="thirteen-half container-fluid sidepad-0 mobiles">
  <img class="w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/supplement_mobile_1.png">
</div> -->

<div class="fourteenth-section-desktop container-fluid sidepad-0">
  <div class="row">
    <div class="col-lg-12 sidepad-0">
      <img class="img-fluid"  src="https://cdn.shopify.com/s/files/1/2060/5733/files/WEB_123.png?7043992180589871185" /> 
    </div>
  </div>
</div>

<div class="fourteenth-section-mobile container-fluid sidepad-0">
  <div class="row">
    <div class="col-lg-12 sidepad-0">
      <img class="img-fluid"  src="https://cdn.shopify.com/s/files/1/2060/5733/files/MOBILE_123.png?3755984764966307015" /> 
    </div>
  </div>
</div>
<hr class="mobiles" id="ingredients">

<img class="mobiles w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/1AD_turmeric_-_provitalize_1.png">
<div class="product-tabling">
<img class="mobiles w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/product-table-min.png"></div>


<!-- <div class="container first-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headline text-center">3rd Party Reviews By Okendo</h1>
      <p class="text-content">See what customers are saying in real-time</p>
      
    </div>
  </div>
</div> -->
<div class="eleventh-section container-fluid sidepad-0">
  <div class="row">
    <div class="col-lg-6 sidepad-0">
      <img class="img-fluid"  src="https://cdn.shopify.com/s/files/1/2060/5733/files/healthy_lady.jpg" />
    </div>
    <div class="col-lg-6 flex_box sidepad-30">
      <h3>&nbsp;&nbsp;<span><i class="fa fa-quote-left fa-2x"></i></span ><span class="main-text">Our Goal Is To Help 100Million People Achieve A Healthier Body With Effective Supplements.</span><span><i class="fa fa-quote-right fa-2x"></i></span>&nbsp;&nbsp;</h3>
      <p class="text-right container"><i>-Better Body</i> Team</p>
    </div>
  </div>
</div>

<div class="container first-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headline text-center">FAQ</h1>
      <p class="text-content">Frequently asked questions regarding dosages, ingredients, medical conditions, product effectiveness, shipping, customer support and returns policies.</p>
    </div>
    <div class="col-lg-12">
            <div class="tab-content" id="faq-tab-content">
                <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="accordion" id="accordion-tab-1">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">Do Thermogenic Probiotics have any side effects?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>No, unlike typical thermogenic supplements, the probiotics in Provitalize only mimic the fat burning effect of supplements like Green Tea, Garcinia Cambogia & Capsicun etc. 
                                    <br><br>
                                    However, do check with your doctor before consuming dietary supplements.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">How fast should I expect to see results from Provitalize?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Most customers report seeing early weight related results in 2 weeks or more as the thermogenic gut bacteria take time to colonize your intestinal tract. 
                                    <br><br>
                                    However you can expect to feel less hungry, experience deeper energy and positive results in skin, hair, nails or joints within the first few consumptions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">I'm on specific medication, can I still try Provitalize?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Due to its potent anti-inflammatory effects, Provitalize should not be taken with NSAIDs, blood-thinners and Cox2-inhibitors. 
                                    <br><br>
                                    If you are on medication, in pregnancy, or suffer from any medical conditions, please inform your doctor your interest in taking Provitalize or any of our supplements.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4">What is the dosage when taking Provitalize?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>For best results, take 2 capsules in the morning daily before breakfast with a glass of cold water (8oz).
                                    <br><br>
                                    If you require more intense and powerful support for your gut, or if you have recently completed a round of antibiotics, you can take up to 3 capsules each day.</p>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                    <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-5">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-5" aria-expanded="false" aria-controls="accordion-tab-1-content-5">What are the ingredients that go into Provitalize?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-5" aria-labelledby="accordion-tab-1-heading-5" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Probiotics: L.Gasseri SBT 2055, B. Breve IDCC 4401, B. Lactis R108 (68.2 Billion CFUS)
                                    <br><br>
                                    Natural Herbs: 95% Standardized Curcuminoids (350mg), Moringa Leaf (350mg), Curry Leaf (150mg)  
                                    <br><br>
                                    Absorption Boosters: BioPerine (3mg), Sunflower Lecithin (50mg)</p>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-6">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-6" aria-expanded="false" aria-controls="accordion-tab-1-content-6">Where is Provitalize manufactured?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-6" aria-labelledby="accordion-tab-1-heading-6" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Provitalize is manufactured in a GMP certified factory located in Cedartown, Georgia, USA. We employ strict microbial testing, as well as an FTIR machine for raw material identity testing. 
                                    <br><br>
                                    This means each bottle is safe and only delivers what is promised on the label at the correct potency.</p>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-7">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-7" aria-expanded="false" aria-controls="accordion-tab-1-content-7">When should I expect my shipment of Provitalize?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-7" aria-labelledby="accordion-tab-1-heading-7" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Your Provitalize order is on its way from our shipment center in Georgia, USA.<br><br>
                                    
                                    Below are the estimated delivery timings.<br><br>
                                    Expedited Shipping: 

                                    1 to 4 business days for orders within the US. <br><br>



                                    Free Shipping: <br><br>

                                    5 to 12 business days for orders within the US<br><br>



                                    You will also receive an email receipt and confirmation from us in your email inbox. .</p>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-8">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-8" aria-expanded="false" aria-controls="accordion-tab-1-content-8">Who is the formulator & how was Provitalize created?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-8" aria-labelledby="accordion-tab-1-heading-8" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>The Better Body team has engaged top researchers, nutritionists, health experts & veteran formulators to consult on this project.

                                    <br><br>

                                    Curtis Walcker, who is currently Head of Compliance at Dr Axe was the initial formulator of the Provitalize supplement.</p>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-9">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-9" aria-expanded="false" aria-controls="accordion-tab-1-content-9">Do I need to refrigerate Provitalize?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-9" aria-labelledby="accordion-tab-1-heading-9" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>
                                    No, due the nature of the manufacturing process, our product is shelf stable and can last up to 2 years upon delivery.

                                    <br><br>

                                    Kindly store in a cool, dry place to preserve maximum potency.

                                    <br><br>

                                    Do not consume if label has been tampered with.</p>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-10">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-10" aria-expanded="false" aria-controls="accordion-tab-1-content-10">I have trouble placing my order, who can I speak to?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-10" aria-labelledby="accordion-tab-1-heading-10" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>For enquiries about failed payments, credit card declines or technical errors:

                                    <br><br>

                                    Kindly email us at contact@betterbody.co or call us at + 1-844-707-7730
                                    <br><br>
                                    (Monday to Friday 10am To 4pm CST).
                                    <br>
                                    <br>

                                    You can also message us directly by clicking on the yellow chat bubble at the bottom (right) of this page.</p>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-11">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-11" aria-expanded="false" aria-controls="accordion-tab-1-content-11">I accidentally over-ordered, how can I edit my order?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-11" aria-labelledby="accordion-tab-1-heading-11" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Don't worry it happens.

                                  <br><br>

                                  Kindly email us at contact@betterbody.co with the subject line: 

                                  <br><br>

                                  "OVER ORDERED"

                                  <br><br>

                                  And our support team will expedite your refund within 24 hours. 


                                  <br><br>
                                  You're all good.</p>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-12">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-12" aria-expanded="false" aria-controls="accordion-tab-1-content-12">I'd like to refund my order, how do I go about doing it?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-12" aria-labelledby="accordion-tab-1-heading-12" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Kindly email us at contact@betterbody.co with the subject line:
                                <br><br>

                                "REFUND"

                                <br><br>

                                or call us at + 1-844-707-7730
                                <br><br>
                                (Monday to Friday 10am To 4pm CST).
                                <br><br>


                                You can also message us directly by clicking on the yellow chat bubble at the bottom (right) of this page.
                                <br><br>


                                We close cases in 24 hours.</p>
                                </div>
                            </div>
                    </div>
                    
                  </div>
                </div>
                
        </div>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
