/* Containers */

    body{
        background-color:#232323;
    }
    .container{
        width: 65%!important;
        text-align:center;
    }

    .content-wrapper{
        width: 100%;
    }

    .relativeness{
        position:relative;
        
    }

    .text1a-wrapper p{
        color: #fff;
        width: 100%;
        font-size: 20px;
        padding-left: 142px;
        padding-top: 56px;
        text-align:center;
        margin-top: -340px;
    }

    .text1b-wrapper p{
        color: #fff;
        width: 70%;
        font-size: 28px;
        font-style: italic;
        padding-top: 40px;
        margin-bottom: 42px;
        text-align:center;
        line-height: 1.1;
        padding-left: 20px;
    }

    .text2a-wrapper h2{
        color: #fff;
        width: 100%;
        font-size: 27px;
        text-align: center;
        text-transform: uppercase;
        padding-left: 0;
        padding-top: 64px;
        line-height: 1.1;
        margin-bottom: 496px;
        margin-top: -710px;
    }

    .part1{
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }

    .part2{
        margin-top: -5px;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }

    .part3{
        background-color: #fff;
        background-size: 100%;
        padding-bottom: 100px;
        z-index: auto;
        padding-top: 1px;
        margin-top: -5px;

    }

    .weighing-scale{
        margin-top: -150px;
    }

    .ws-text h2{
        width:90%;
        font-weight:800;
        font-size: 35px!important;
        margin-top: -212px;
    }

    .antibiotics-center{
        margin-top: -150px;
    }

    .part4{
        background-color: #fff;
        background-size: 100%;
        margin-top:-63px;
        z-index: auto;
    }

    .part5{
        background-color: #003B4C;
        background-size: 100%;
        padding-bottom: 100px;
        margin-top: -69px;

    }

    .part5 p, .part5 h2{
        color:#fff;
    }

    .part5 h2{
        padding-top:65px;
        margin:0!important;
        width:100%!important;
        padding-bottom: 30px;
    }

    .centered-used{
        width:100%;
    }

    .in-between img{
        margin-top: -40px;
        width: 85%;
    }

    .part6{
        background-color: #DEFED7;
        background-size: 100%;
        margin-top: -40px;
        padding-bottom: 20px;
    }

    .in-between2 img{
        margin-top: -90px;
        width: 100%;
    }



    .part7{
        background-color: #FFFFFF;
        background-size: 100%;
        padding-bottom: 20px;
        margin-top: -220px;
        padding-top: 220px;

    }

    .resize60 img{
        width:60%;
        text-align:center;
    }

    .resize80 img{
        width:80%;
        text-align:center;
    }

    .part8{
        background-color: #FFFFFF;
        background-size: 100%;
        padding-bottom: 60px;
        margin-top: -220px;
        padding-top: 150px;

    }

    .drrelieynotes{
        margin-top: -50px;
        z-index: 99999!important;
    }

    .marg60{
        margin:60px;
    }

    .marg60 h1{
        font-size:33px;
    }

    .part9{
        margin-top: -120px;
        padding-bottom: 9px;
    }

    .vegan p{
        font-family:'Montserrat', sans-serif;
        text-align:left;
        padding-top: 210px;
        margin-top:-1121px;
    }

    .part10{
        background-color: #FFFFFF;
        background-size: 100%;
        padding-bottom: 20px;
        padding-top: 705px;
        margin-top: -780px;

    }

    .takealook{
        margin-top: -140px;
        z-index: 99999!important;
    }

    .part11{
        background-color: #000000;
        width:  100%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        
    }

    .part12{
        background-color: #D1D1D1;
        background-size: 100%;
        padding-top: 40px;
        margin-top: -30px;
        padding-bottom: 50px;

    }

    .text12a-wrapper p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
    }

    .text12a-wrapper h2{
        text-align: center;
        color:#07195b!important;
        margin-left:60px;
        margin-right:60px;
    }

    .in-between3 img{
        margin-bottom: -20px;
        width: 100%;
        background-color: #FFFFFF;
        padding-top: 15px;
    }

    .part13{
        background-color: #fdc40b;;
        width:  100%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        padding-bottom: 20px;        
    }

    .text13a-wrapper p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
    }

    .part14{
        background-color: #FFFFFF;
        width:  100%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        padding-bottom: 160px;
        
    }

    .text14a-wrapper{
        margin-top: -1540px;
    }

    .text14a-wrapper p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
        color: #FFFFFF;
    }

    .text14a-wrapper h2{
        color: #FFFFFF;

    }

    .part15{
        background-color: #FFFFFF;
        width:  100%;
        margin-top: -80px;
    }

    .text15a-wrapper p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
        color: #000000;
        padding-top: 30px;
    }

    .text15a-wrapper h2, .text15c-wrapper h2{
        text-align: center;
        width:80%!important;
        color:#07195b!important;
    }

    .text15b-wrapper{
        margin-top: -65px;
    }

    .text15b-wrapper p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
        color: #000000;
        margin-top:0!important;
        margin-bottom: 20px;
    }

    .text15c-wrapper p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
        color: #000000;
        padding-top: 10px;
    }

    .in-between4 img{
        margin-bottom: 60px;
        width: 100%;
        background-color: #FFFFFF;
        padding-top: -25px!important;
    }

    .part16{
        background-color: #000000;
        width:  100%;
        
    }

    .text16a-wrapper h2{
        color: #FFFFFF;
        font-size: 40px;
        padding-bottom: 450px;
        margin-top: -500px;

    }

    .text16a-wrapper p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
        color: #FFFFFF;

    }

    .part17{
        background-color: #ffffff;
        margin-top: -40px;
        background-position: center;
        
    }
    .text17a-wrapper{
        margin-top: -1310px;
    }


    .text17a-wrapper p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
        padding-top: 15px;

    }

    .part18{
        background-color: #ffffff;
        width:  100%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        padding-bottom: 95px;
        margin-top: -60px;
        
    }

    .part18 p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
        
    }

    .part19{
        background-color: #ffffff;
        width:  100%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        margin-top: -150px;
        
    }

    .text19a-wrapper{
        margin-top: -350px;
    }

    .text19a-wrapper p{
        text-align:left!important;
        margin-left:60px;
        margin-right:60px;
        padding-top: 15px;

    }

    .pink-box{
        width: 99%!important;
        align-item:center;
        background-color: #FEE0E1;
        border-radius: 2em;
        padding-top:100px;
        padding-bottom :20px;
        margin-left: 5px;
    }

    .pink-box p{
        margin-left: 60px;
        margin-right: 60px;
        text-align:left!important;
    }

    .pink-box h2{
        color:#D8555B;
        font-size:40px;
        position: absolute;
        text-align:left;
        margin-top: 60px;
    }

    .text19b-wrapper p{
        text-align:left!important;
        margin-right:60px;
        margin-left:60px;
        padding-top: 15px;

    }

    .text19b-wrapper h2, .text19c-wrapper h2, .text19d-wrapper h2{
        color:#07195b!important;
        text-align:left;
        margin-left:60px;
    }

    .lightblue-box{
        width: 99%!important;
        align-item:center;
        background-color: #EAFFE1;
        border-radius: 2em;
        padding-bottom :20px;
        margin-left: 5px;
    }

    .text19c-wrapper p{
        text-align:left!important;
        margin-right:60px;
        margin-left:60px;
        color:#256E61;

    }

    .text19d-wrapper p{
        text-align:left!important;
        margin-right:60px;
        margin-left:60px;
        color:#122735;

    }

    .part20{
        background-color:#FFFFFF;
        padding-top: 50px;
    }

    .text20a-wrapper p{
        text-align:left!important;
        margin-right:60px;
        margin-left:60px;
        color:#122735;
        margin-top: -495px;
    }

    .part21{
        background-color:#002B72;
        padding-top: 130px;
    }

    .text21a-wrapper p{
        text-size: 23px;
        color:#fff;
        text-align:left;
    }

    .part22, .part23, .part24{
        background-color:#FFFFFF;
        padding-top: 30px;
    }

    .text22a-wrapper p{
        text-align:left!important;
        margin-right:60px;
        margin-left:60px;
        color:#002b72;
    }

    .text23a-wrapper{
        margin-top: -950px;
        margin-right:60px;
        margin-left:150px;
    }

    .text23a-wrapper li{
        text-align:left!important;
        color:#002b72;
        line-height: 1.2;
    }

    .text23b-wrapper p{
        text-align:left!important;
        margin-right:60px;
        margin-left:60px;
        color:#002b72;
    }

    .text24a-wrapper{
        margin-top: 650px;
    }

    .text24a-wrapper p{
        text-align:left!important;
        margin-right:60px;
        margin-left:60px;
        color:#FFFFFF;
    }

    .part25{
        background-color:#FFFFFF;
        margin-top: 88px;
    }

    .25a-wrapper{
        width: 95%!important;
        margin-right:60px;
        margin-left: 60px;
        background-color:#FFFFFF;
    }

    .part26{
        background-color:#FFFFFF;
        padding-top: 30px;
    }
    
    .text26a-wrapper p, .text27a-wrapper p, .text28a-wrapper p, .text32a-wrapper p, .text35c-wrapper p, .text36a-wrapper p, .text38a-wrapper p, .text41a-wrapper p, .text43a-wrapper p{
        text-align:left!important;
        margin-right:60px;
        margin-left:60px;
        color:#002b72;
    }
    .text40a-wrapper p{
        text-align:left!important;
        margin-right:60px;
        margin-left:60px;
        color:#002b72;
        padding-bottom: 52px;
    }
    
    .part27{
        background-color:#fbe79a;
        padding-top: 30px;
    }

    .text27a-wrapper h2{
        text-align:center;
        color:red;
        margin-right:60px;
        margin-left:60px;
    }

    .part28, .part40{
        background-color:#ffffff;
        padding-top: 30px;
    }

    .text28a-wrapper h2, .text30a-wrapper h2, .text40a-wrapper h2{
        text-align:center;
        color:#002b72;
        margin-right:60px;
        margin-left:60px;
    }

    .part29{
        background-color: #ffffff;
        width:100%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        
    }

    .text29a-wrapper p{
        text-align: left!important;
        margin-right: 100px;
        margin-left: 100px;
        color: #002b72;
        margin-top: -1140px;
    }

    .text29b-wrapper p{
        text-align: left!important;
        margin-right: 100px;
        margin-left: 100px;
        color: #000000;
        margin-top: -640px;
    }

    .text30a-wrapper p{
        text-align: left!important;
        margin-right: 60px;
        margin-left: 60px;
        color: #000000;
    }

    .text30a-wrapper{
        margin-top: -900px;
    }

    .part30{
        padding-bottom: 50px;
        background-color: #D8EBFE;
    }

    .part31{
        background-color: #002B72;
        padding-bottom: 70px;
    }

    .text31a-wrapper p, .text37a-wrapper p{
        text-align: left!important;
        margin-right: 60px;
        margin-left: 60px;
        color: #ffffff;
    }

    .text31a-wrapper h2{
        text-align: center!important;
        margin-right: 60px;
        margin-left: 60px;
        color: #ffffff;
    }

    .text31b-wrapper p{
        text-align: left!important;
        margin-right: 60px;
        margin-left:    100px;
        color: #ffffff;
    }

    .part32{
        background-color:#ffffff;
        margin-top: -139px;
    }

    .text32a-wrapper{
        padding-top:200px;
    }

    .text32a-wrapper h1{
        margin-right: 60px;
        margin-left: 60px;
        font-size: 34px;
    }

    .text32a-wrapper h2{
        margin-right: 60px;
        margin-left: 60px;
    }
    
    #impact40{
        font-family: 'Impact';
        font-size: 38px;
    }

    .text33a-wrapper p{
        text-align: left!important;
        margin-right: 60px;
        margin-left: 60px;
        color: #ffffff;
    }

    .text34a-wrapper{
        margin-top: -1110px;
    }

    .text34a-wrapper p, .text39a-wrapper p, .text42a-wrapper p{
        text-align: left!important;
        margin-right: 60px;
        margin-left: 60px;
        color: #ffffff;
    }

    .text33a-wrapper{
        margin-top:-440px;
    }

    .part34, .part35, .part36, .part43{
        background-color: #FFFFFF;
    }

    .part38{
        background-color: #FFFFFF;
        padding-top: 80px;
        margin-top: -240px;
    }

    .part37, .part39, .part42{
        background-color:#002B72;
    }

    .text38a-wrapper h2{
        text-align:center!important;
        margin-right:60px;
        margin-left:60px;
        color:#002b72;
    }

    .part41{
        background-color:#CEFFF5;
        margin-top: -30px;
        padding-top: 20px;
    } 

    .text42a-wrapper h2{
        color: #FFFFFF!important;
        margin-top: -200px;
        font-size: 34px;
    }    

    .text43b-wrapper p{
        color: #306808;
        margin-right:60px;
        margin-left:60px;
        text-align: left!important;
        margin-bottom: 70px;
    }
    
    .text44a-wrapper p{
        margin-right:60px;
        margin-left:80px;
        text-align: left!important;
    }

    .text44a-wrapper{
        margin-top: -1184px;
        margin-left: 20px;
    }

    .part44{
        margin-top: -40px;
    }

    .absolutely{
        position:absolute;
    }

    .responsive {
        width: 90%;
        height: auto;
    }

    .left-aligned {
        text-align:left!important;
    }

    .left-aligned h2 {
        text-align:left!important;
    }

    #hs-beacon div{
        display:none!important;
    }

    .margtop{
        margin-top: 40px!important;
    }

/* FlexiBoxCSS */

    .flex-container{
        display:flex;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: -30px;
        margin-top: -30px;
    
    } 
    .flex-container2{
        display:flex;
        padding-right: 60px;
        margin-top: -30px;
    
    } 

    .flex-img{
        flex:2;
    }

    .flex-text{
        flex:4;
    }

    .flex-img2{
        flex:1;
    }

    .flex-text2{
        flex:4;
    }

    .flex-text p{
        margin-top:0px!important;
        margin-bottom:0px!important;
    }

/* Display None Timer */

    .pricing img{
        width:100%;
    }

    #early-cta, #guarentee, #payments, #info, #ingredients {
        display:none;
    }


    /* Shopify overs */

    #fsb_container, #fsb_bar {
      width;0px !important;
      height:0px !important;
      display:none;
    }

    /* Item padding if for the payment icons on early CTA */

    .item {
      
      padding: 0px 5px;

    }

/* Roots */

:root {
    --main-green-color: #3C963E;
    --main-blue-color: #093783;
    --main-turquoise-color: #4998A7;
    --main-lightgrey-color: #EFEFEF;
    --main-grey-color: #ADADAD;

}


/* Changes to frame work  - Test for mobile padding*/

    .row {
        margin:0px !important;
    }

    /* Test on mobile and add new class */

    /* Global CSS */

     {
        font-family: 'Montserrat', sans-serif;
        margin:0px;
    }

    ul {
    list-style-type: none;
    text-align: left!important;
    padding: 0;
    }

    ul.circle {
        list-style-type: circle;
        padding-left: 20px;
        text-align: left!important;
        display: block;
    }

    ul li { word-break: break-all }


    p {
        font-size: 16px;
        margin:0px;
        line-height:1.5;
        color:var(--main-blue-color);
    }   



    h1, h2, h3, h4, h5, p {
        margin:0px;
    }
    h1 {
        font-size:24px;
    }

    h2 {
        font-size:12px;
    }

/* #1 Logo - Section */

    /* Make this an image */
    .logo h1 {
        color: var(--main-turquoise-color);
        font-size: 18px;
        padding: 20px 0px 20px 0px;
    }

/* #2 Banner - Section */

    .stats p {
        color:var(--main-blue-color) !important;
    }
    .banner::before {

        background: linear-gradient(to right, #4998A7, #093783);
        transform: skewY(-10deg);
        height:735px;
        content:'';
        width: 100%;
        position: absolute;
        left: 0;
        top: -25px;
        z-index: -9999;
        overflow: visible;
    }

    .banner {
        color: white;
        
    }


    .banner-video {
        color:var(--main-turquoise-color);
        font-weight:bold;
        border-radius:5px;
        background:#edeced;
        overflow:hidden;
        box-shadow: 3px -4px 13px 3px rgba(0,0,0,0.05);
    }




    .banner-title {
        background:#edeced;
        color: var(--main-blue-color);
        border-radius:100px;
        padding:10px 50px;
        margin-bottom:10px;
        font-size:18px;
       
    }

    .banner-headline {
        padding-bottom:10px !important;
        animation-name: fade;
        animation-duration: 2s;
        animation-delay: 2s;
      	
    }

    .banner-paragraph {
        padding-bottom:25px !important;
        font-size:16px;
        animation-name: fade;
        animation-duration: 2s;
        animation-delay: 2s;
    }

    .stats {
        background: white;
        font-weight:500;
        z-index: 999999;
    }

    .center-text{
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
        text-align: center!important;

    }

    .uppercase{
        text-transform: uppercase;
    }    

    .banner p {
        color:white;
    }
    .stats img {
        height:20px;
        padding-right:10px;
    }
    .pad {
        padding: 20px 0px 20px 0px;
    }

    .banner-background {
    }
  
    .read-text {
 	    text-decoration: none;
 	    color: var(--main-blue-color);
   	    position:relative;
   	    top:-2px;
	}
  
  
/* #3 early cta */

    .payment-cards {
        padding-top:20px;
    }

    .early-cta::before {


        background:var(--main-lightgrey-color);
        transform: skewY(-10deg);
        height:650px;
        content:'';
        width: 100%;
        position: absolute;
        left: 0;
        top: 700px;
        z-index: -9999;
        overflow: visible;

    }
    .early-cta {
        padding: 20px 0px 20px 0px;
    }

    .early-cta a {
        background: var(--main-green-color);
        padding: 20px 50px 20px 50px;
        font-size:16px;
        font-weight:bold;
        box-shadow: 5px -4px 13px 3px rgba(0,0,0,0.07);
        color:white;
        border-radius:100px;
        text-decoration: none
    }

    .early-cta a:hover {
        transform: scale(1.05);
        background:darkgreen;
    }
    .early-cta img {
        height:20px;
      	padding-left: 10px;
    	margin-top: -2px;
    }
/* #4 Pricing Tables - Sections */

    /* Popular Banner */
    .sale-box span.on_sale {
        font-size: 12px;
        font-weight: bold;
        color: var(--main-green-color);
        background: white;
        padding: 10px 35px 10px 40px;
        width: 200px;
        text-align: center;
        display: block;
        position: absolute;
        left: -70px;
        top: 10px;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        transform: rotate(40deg);
        box-shadow: 3px -4px 13px 3px rgba(0,0,0,0.05);
        z-index: 1;
    }

    .sale-box {
        position: absolute;
        top: 0;
        overflow: hidden;
        height: 100px;
        width: 100px;
        text-align: center;
        z-index: 1;
        right:0;
        border-top-right-radius: 0.7em;
        -o-border-top-right-radius: 0.7em;
        -moz-border-top-right-radius: 0.7em;
        -webkit-border-top-right-radius: 0.7em;
    }

    /* Table Background */
    .table {

        background: var(--main-lightgrey-color);
        padding:20px;
        border-bottom:1px solid var(--main-grey-color);
        font-weight:bold;
    }


    /* False Table Cell Height */
    .table_blank {
        height: 66px;
    }

    /* Blank Cell Most Popular */
    .blank {
        height: 60px;
    }

    /* Price Table Color */
    .pricing {
        color:var(--main-green-color);
    }

    .popular h2 {
        font-size: 18px;
        color: var(--main-green-color);

    }

    .best_value {
        
        background: linear-gradient(to right, #4998A7, #093783);
        color:white;
    }

    .standard {
        background: var(--main-lightgrey-color);
        color:var(--main-green-color);

    }

    .pricing button {
        background: var(--main-green-color);
        padding: 20px 50px 20px 50px;
        font-size:16px;
        box-shadow: 3px -4px 13px 3px rgba(0,0,0,0.05);
        font-weight:bold;
        color:white;
        border-radius:100px;
        border: none;
        outline:none;
    }

    .pricing button:hover {
        background:darkgreen;
    }
    .add { 
        padding:20px;
    }

    .pricing h1 {
        margin:0px;
        padding:20px;
        font-size:24px;
    }

    .inside {
        border: 1px solid var(--main-grey-color);
        border-radius:5px;
        overflow: hidden;
        position:relative;
        background:white;
        box-shadow: 3px -4px 13px 3px rgba(0,0,0,0.05);
    }

    .inside:hover {

        transform: scale(1.05);
        border: 2px solid var(--main-green-color);
    }

    /* Pricing Headline */
    .pricing-headline {
        height:200px;
        z-index: 999999;

    }

    .pricing-headline h1 {
        background: linear-gradient(to right, #4998A7, #093783);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .pricing .title {
        padding: 20px 5px 20px 5px;
    }

    .pricing p {
        color:var(--main-green-color);
        font-size:14px;
    }


    .pricing .table object {
        height:25px;
        padding-right:10px;
    }

/* Top-Testi - Section */
    .top-testi-box{
        background-color: #FFE8CC;
        margin: 10px!important;
        font-style: italic;
        height: 100px;
    }

    .top-testi-box p{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
    }

/* Dear Reader - Section */
      
    .dear-reader p{
        text-align:left;
        font-family: "Courier New";
        font-weight: bold;
        margin: 60px;
    }

    .dear-reader h2{
        width: 80%;
        margin: 50px;
    }

    .dear-reader h1{
        color:#042C6F;
    }

    #dr-size{
        font-size:35px;
        font-weight:bold;
    }

    #dr-mid{
        text-align:left;
        margin-left: 0px!important;
    }

    .mid-bg{
        background-color: #003B4C;
    }

    .navy p, .navy h1 {
        color: #ffffff;
    }

    .mid-light-blue{
        background-color: #29A0E2;
    }

    .mid-light-blue h1{
        color: #ffffff;
    }

    .light-green{
        background-color: #DDFFD6;
    }

    .centeralize{
        margin-right: 100px!important;
        margin-left:  100px!important;
    }

    .yellowish{
        background: linear-gradient(#FCC325, #BE8714);
        padding-left:   250px;
        padding-right:  250px;
        color: #000000;
    }

    .dr-riley{
        font-style: italic;
        text-align: left;
        padding-left: 420px
    }


/* #Coincedence - Section */
    .coincedence{
        padding-left: 95px;
        padding-top: 120px;
        padding-bottom: 73px;
        margin-top: -556px;
    }

    .coincedence p{
        text-align:left;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        line-height: 1.1;    
        width: 89%;
    }

    .side-quote{
        padding-left:193px;
        padding-top: 6px;
        width: 94%;
    }

    .side-quote p{
        line-height: 1.1;
        text-align:left;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        padding:0!important;
    }
    
    .coincedence h2{
        color:#000C51;
        text-align:left;
    }

    .yellow-font{
        color:#FFD006;
    }

    .yellow-highlight{
        background-color:yellow;
    }

    .brown-font p{
        color:#B53E1E;
    }

    .turq-font p{
        color:#136C68;
    }

    .navy-font p, .navy-font h1, .navy-font h2{
        color:#07195b;
    }

    #red-box{
        color:black;
        border-style: solid;
        border-color: red;
        padding: 30px;
        text-align: center!important;
        width: 80%;
        margin-bottom: 10px;
    }

    .mid-ticks{
        margin-left:5%;
        margin-right:5%;
    }

    .italic-right{
        font-style: italic;
        padding-left: 50px;
    }

    #invest-bottle{
        font-weight: bold;
        font-family: Impact;
        font-size: 30px;
    }

    .underbold {
        font-weight: bold;
        text-decoration: underline;
    }

    .faq {
        padding-top: 30px;
        padding-left:45px;
    }
    

/* #10 Reference - Section */

    .refference {
        background:var(--main-lightgrey-color);
        padding: 50px 0px 40px 0px;
        color: var(--main-blue-color);
    }

    .line {
        border-left: 2px solid;
    }

    .line-pad {
        padding-left: 50px;
    }


/* #5 Payment - Section */
    .page-large-title{
        padding-top: 45px;
        

    }
    .payment {
        padding: 20px 20px 20px 20px;
        position:relative;
        z-index:3;
    }

    .payment .inner {
        background: white;
        border-radius:5px;
        box-shadow: 3px -4px 13px 3px rgba(0,0,0,0.05);
    }

    .payment .inner .card {
        padding: 20px 0px 20px 0px;
    }

    .box-inner {
        padding: 0px 20px 0px 20px !important;
        border-right: 1px solid var(--main-blue-color);
    }

    .ssl {
        padding: 0px 20px 0px 20px !important;
    }

    .ssl p { 

        font-size: 12px !important;
        color:var(--main-blue-color);
    }


    object {
        height:100%;
    }

    .lable p {
         padding-bottom:10px;
         font-size:12px !important;
         color: var(--main-blue-color);
     }

    .set-height {
         height: 20px;
    }

    .set-height-two {
         height: 35px;
    }

    .payment-border {
        border: 1px solid lightgrey;
        padding: 10px;
        border-radius: 5px;
    }

    .ssl-content {
        padding:10px 0px 10px 0px;
    }

  .popular {
    padding:20px !important;
  }
  
  .pricing{ padding: 10px !important;}
  
/* # 6 Guarentee - Section */

    .guarentee::before {
        background: linear-gradient(to right, #4998A7, #093783);
        //transform: skewY(-10deg);
        height:650px;
        content:'';
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        overflow: visible;
    }
    .guarentee {
        padding: 30px 0px 20px 0px;
        color: white;
        position: relative;
        z-index: 1;
    }

    .guarentee .content {
        position: relative;
        z-index: 1;
        top:100px;
    }
    .guarentee img {
        width:80%;
        height:80%;
    }
    .button-pad {
        padding-top:20px;
    }

    .button-pad a {

        background: var(--main-green-color);
        box-shadow: 3px -4px 13px 3px rgba(0,0,0,0.05);
        padding: 20px 50px 20px 50px;
        font-size:16px;
        font-weight:bold;
        color:white;
        border-radius:100px;
        border: none;
        text-decoration: none;
    }

    .button-pad a:hover {
        background:darkgreen;
        transform: scale(1.05);
    }
    .btn {
         border: none;
         color: grey;
         padding: 12px 16px;
         font-size: 16px;
         cursor: pointer;
         display: flex;
     }
     
    .btn span {
        border-right:solid 1px;
        padding-right:15px;
    }

    .btn object {
        height: 20px; 
        padding-left: 15px;
        margin-top:-3px;
    }
    .guarentee p { 
        color:white;
    }
/* #3 Detail Card */

    .detail-card {
        background:white;
        padding:20px;
        border-radius:5px;
        box-shadow: 3px -4px 13px 3px rgba(0,0,0,0.05);
    }

    .detail-card:hover {
        transform: scale(1.05);
    }
    .details {
        padding:20px !important;
    }

    .dot {
        border-radius: 50%;
        display: inline-block;
    }

    /* SVG Icon */
     .details span {
        background: linear-gradient(to right, #4998A7, #093783);
        border-radius:50%;
        height: 100px;
        width: 100px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .details span img {
        width:50%;
    }
/* #end Footer */

    .footer {
        background: linear-gradient(to right, #4998A7, #093783);
        color:white;
        padding: 40px 0px 40px 0px;
    }

    .footer p {
        font-size: 14px;
        color:white;
    }

    .footer img {
        width: 35%;
    }

/* 600px */
@media only screen and (max-width: 600px) {

    .container{
        width: 100%!important;
        text-align:center;
    }

    p {
        font-size:10px;
    }

    .text1a-wrapper p {
        font-size: 8px!important;
        padding-left: 58px!important;
        padding-top: 62px!important;
        text-align: center;
        margin-top: -179px!important;
        line-height: 11px!important;
    }

    .text1b-wrapper p {
        font-size: 11px!important;
        padding-top: 4px!important;
        line-height: 1.1!important;
        padding-left: 13px!important;
    }

    .text2a-wrapper h2 {
        font-size: 12px!important;
        padding-left: 0!important;
        padding-top: 64px!important;
        line-height: 1.1!important;
        margin-bottom: 196px!important;
        margin-top: -330px!important;
    }

    .dear-reader p {
        font-size: 14px!important;
        line-height: 20px!important;
        margin: 20px!important;
    }

    .ws-text h2 {
        font-size: 15px!important;
        margin-top: -88px!important;
    }


    .weighing-scale {
        margin-top: -23px!important;
    }

    .antibiotics-center {
    margin-top: -50px!important;
    }

    .part5 {
        padding-bottom: 100px;
        margin-top: -21px!important;
    }

    h2 {
        font-size: 18px!important;
    }

    .flex-img {
        margin-top: 26px;
    }

    #dr-size {
        font-size: 19px!important;
        font-weight: bold!important;
    }

    .part6 {
        margin-top: -22px!important;
        padding-bottom: 205px!important;
    }

    .part7 {
        padding-bottom: 20px!important;
        margin-top: -98px!important;
        padding-top: 100px!important;
    }

    .resize60 img {
        width: 100%!important;
    }

    .resize80 img {
        width: 100%!important;
    }

    .marg60 h1 {
        font-size: 24px!important;
        padding-top: 40px!important;
    }

    .marg60 {
        margin: 20px!important;
    }
    
    .drleepic{
        margin-top: 60px!important;
    }

    .part9 {
        margin-top: 467px!important;
        padding-bottom: 9px!important;
    }

    .vegan-bg{
        margin-top: -467px!important;
    }

    .vegan p{
        font-size: 8px!important;
        line-height: 12px!important;
        padding-top: 210px!important;
        margin-top: -596px!important;
    }

    .takealook {
        margin-top: -30px!important;
        z-index: 99999!important;
    }

    /* Removes padding from Guarentee section */
    .line-pad {
        padding: 0px;
    }

    /* Removes left border from Gaurentee section */
    .line {
        border-left: 0px;
    }
    .footer img {
        width:50%;
        padding-bottom:20px;
    }

    .box-inner .payment-border {
        padding:10px !important;
    }
    .guarentee img {
        padding-bottom:0px;
    }
    .refference object {
        padding-bottom:20px;
    }
    .details span {
        margin-bottom:20px;
    }
    .banner-title {
        padding: 10px 10px;
    }
    .video-views {
        border-right: 0px;
        border-bottom: 1px solid var(--main-grey-color);
    }
    
    .guarentee .content {
        top:10px;
    }
    .guarentee::before {
        height:950px;
    }
    .banner::before {
        top:-35px;
      	height:600px;
    }
  	.logo {
      display:none;
    }
    .early-cta::before {
        height:1500px;
      	top:565px;
    }
  	.banner-title {
      margin-top:10px !important;
    }
    .box-inner .payment-border {
    margin-bottom: 20px !important;
    }
    .box-inner {
    border-right: 0px;
    }
}

/* Detailed Ingredient Section */
    .ing-details {
        padding: 30px !important;
    }

    .ingpic{
        width: 90%!important;
        height: auto;

    }

    .pinch{
        display:none;
    }

@media only screen and (max-width: 600px) {
    
    .ing-details {
        padding: 20px !important;
        font-size: 13px!important;
        text-align: left;
    }
    .ing-details p, .ing-details h1{

        text-align: left!important;
        margin-left: 7%;
        margin-top: 10px;
    }

    .line-pad li {
        font-size: 12px!important;
    }

    .banner::before {

        background: linear-gradient(to right, #4998A7, #093783);
        transform: skewY(-10deg);
        height:535px;
        content:'';
        width: 100%;
        position: absolute;
        left: 0;
        top: -25px;
        z-index: -9999;
        overflow: visible;
    }

    .early-cta::before {


        background:var(--main-lightgrey-color);
        transform: skewY(-10deg);
        height:450px;
        content:'';
        width: 100%;
        position: absolute;
        left: 0;
        top: 400px;
        z-index: -9999;
        overflow: visible;

    }

    .pinch{
    display:block;

    .ingpic{
        margin-top: -35px!important;
        z-index: -1!important;

    }
}


}

@media screen and (min-width: 801px) {
    div.page-large-title {
        font-size: 32px;
                            }
                        }

@media screen and (max-width: 800px) {
        div.page-large-title {
        font-size: 30px;
            }
        }            
            
@media screen and (max-width: 600px) {
        div.page-large-title {
                        font-size: 30px;
            }
        }

    


