

#shopify-section-header, .header, #fsb_bar {display:none;}

@font-face {
      font-family: 'Aileron';
      src: url('Aileron-UltraLight.otf'),
           url('Aileron-UltraLight.otf') format('otf'),
           url('Aileron-UltraLight.otf') format('truetype');
      font-weight: normal;
      font-style: normal; }

div a, div p { font-family: 'Aileron' !important; }


@font-face {
      font-family: 'Aileron-Thin';
      src: url('Aileron-Thin.otf'),
           url('Aileron-Thin.otf') format('otf'),
           url('Aileron-Thin.otf') format('truetype');
      font-weight: normal;
      font-style: normal; }



h1, h2, h3 { font-family: 'Aileron-Thin' !important; }

/*.subtitle p{
	text-align: left;
}*/

.featured_content{
  background-color: #fff!important;
}

.feature_divider {
  display: none!important;
}

.caption-content .pretext p, h1.headline, .subtitle p {
  color: #fff!important;
}

.gallery-cell{
  text-align: center!important;
}


/*########## NAVBAR ##########*/



/*########## END NAVBAR ##########*/