{% include 'shogun-products', content: page %}
<!-- Created with Shogun. -->
<div class="shogun-root" data-shogun-id="5b6026622e3d7f009c45b85f" data-shogun-site-id="1e53c816-433d-48ec-b335-162a637cfc9a" data-shogun-page-id="5b6026622e3d7f009c45b85f" data-shogun-page-version-id="5b61816f00c34500708cd38e" data-region="main">
<div class="shg-box shg-c  " id="s-89f15312-2cd5-40ce-976e-754bf47070c8">
<div class="shg-box-overlay"></div>
<div class="shg-box-content"></div>
</div>
<div class="shg-c  " id="s-f6650cdb-c56e-41cd-9571-dd3dea13b82f">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-2 shg-c-md-2 shg-c-sm-2 shg-c-xs-12"></div>
<div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
<div class="shg-box shg-c  " id="s-958f1c80-b320-4f75-8fb4-7979296d8bc9">
<div class="shg-box-overlay"></div>
<div class="shg-box-content">
<div id="s-fd6a346a-e6c0-4c0d-94f7-ee0b93fe5716" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-4a8740cb-5742-4fbf-b74d-04c6b68f4817" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Message From Joel</span></span></p>
</div>
<div id="s-8c35af40-1e26-48a5-a04e-99be89b2156e" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-848d05ec-0006-43bf-84ff-6200e2419c54">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-020fc9ab-e238-4781-8974-bdca6ec288b5" class="shg-c  ">
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Hey Friend! Thanks for checking my page out and showing interest in being our affiliate partner (: But before you sign up and start cashing in some juicy commissions, there’s ONE thing you need to know.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Unlike tons of big product owners who place heavy attention on only big affiliates with millions of names on their lists, we’ve built this affiliate program to show support and love the underdogs.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>From the little guys who dumped their last $5,000 into building a niche weight loss list...</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>To the budding affiliate who’s lost and earned tens of thousands of dollars (finally being able to consistently earn $500 or more per mailing).</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>The truth is...</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>I believe that the drive, hunger and determination in small time affiliates TRUMPS the volume from the bigger dudes in the health &amp; supplements “Jerk Circle”.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>That putting in the effort, keeping the grind up and constantly tweaking your promotion strategy will eventually pay off, letting you FINALLY live the life you want.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Now this isn’t to say we don’t work with big players. We have a separate affiliate manager to take care of them.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>But our FOCUS is on helping new to mid tier affiliates grow to become huge successes in the space AND...we have just the right affiliate program to do that!</em></span></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-dc850f1d-5a4a-4444-b210-76dde0fccf4e" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div id="s-3b87c236-cf7f-49fb-b32a-74d96e08bbce" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-0f8e4e1c-e185-4206-82d8-40013037c500" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Introduction About The Company</span></span></p>
</div>
<div id="s-c42169a4-2dd5-41ba-9b02-690e1de038db" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-c0acf88e-c667-4369-a735-7d930655188a">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-258edd87-bd0c-4344-aca3-46a7264b0004" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-16a35fb3-d221-497b-8958-3954c178b38f" class="shg-c  ">
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Here at Better Body we’re all about celebrating being healthy and gorgeous, in spirit and body! </em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>We’re passionate about developing unique and super effective concepts that truly make a difference to our customer’s life. </em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>After helping tens of thousands of customers overcome obesity and gut health issues, we deeply understand the pain they go through every day, the loss of their social life, and discrimination by the people around them.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>And it has served as our motivation. Using clinical and market research, and collaborating with industry health experts, we formulate our own health products that have helped our customers </em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>- Lose the stubborn fat off their belly.</em></span></p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>- Improve their gut health </em></span></p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>- Reduce their body pains </em></span></p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>- Boost their energy </em></span></p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>- Improve their mood </em></span></p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>- Improve their quality of sleep </em></span></p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>- And most of all, achieve a better life </em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>In fact, it makes us smile every time our customers tell us how they “got back at their haters” with their newfound body and whole new life.</em></span></p>
</div>
</div>
</div>
</div>
<div id="s-4dda069f-db2a-4dac-9a2c-74e2849413da" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-b7ebf3e0-53ed-4863-8fc5-014bdc98f90d" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Description Of The Product</span></span></p>
</div>
<div id="s-4c199740-febd-4a89-a09d-1106ab7dba98" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-b2df9875-b825-4515-9297-5a147ed9dca1" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/157402b6-0859-4605-9d46-9e5d2df9597b/-/format/auto/-/stretch/off/-/resize/3000x/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div class="shg-c  " id="s-7c6883b6-d79e-4016-9f8d-a99d0143048e">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-d67b082e-6528-4501-bab3-f3c276986773" class="shg-c  ">
<h2><span style="font-family: Tahoma,Geneva,sans-serif;"> <span style="font-size: 36px;"> <span style="color: #0050b4;"> <strong>What is Provitalize™?</strong></span></span></span></h2>
<p style="text-align: justify;"><em> <span style="font-family: Tahoma,Geneva,sans-serif;">Provitalize is a Weight Loss Focused Probiotic that helps you reduce weight loss resistance.<br /> <br /> It has all the benefits of normal Probiotics:<br /> - Improves gut health<br /> - Re-balances good bacteria count<br /> - Promotes strong immunity</span></em></p>
<p style="text-align: justify;"><em> <span style="font-family: Tahoma,Geneva,sans-serif;">And also cuts out dangerous visceral fat formation around your belly, hips and thighs (curbing cravings in the process).</span></em></p>
<p style="text-align: justify;"><em> <span style="font-family: Tahoma,Geneva,sans-serif;">Provitalize meets the complex needs of the brain-gut-fat connection and includes 5 key fat-fighting ingredients for a natural way to lose weight sustainably &amp; naturally.</span></em></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-7303f5f5-5663-4567-9c27-087a3edf30e1" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div id="s-b3dd98c5-3ece-4805-8e4b-22dca2e40058" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-92e6f7f5-806a-4b24-a803-f0de7846bf2e" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Problems Affiliates Face</span></span></p>
</div>
<div class="shg-box shg-c  " id="s-1afc4795-e877-45b3-8f3f-4f59eb384636">
<div class="shg-box-overlay"></div>
<div class="shg-box-content">
<div id="s-69554a78-ddc1-49d6-94c0-0346a72f0c8d" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-5415ace5-9535-4969-acde-e138bb23595e">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-bf882b48-0f4b-437e-9faf-7aaf2514c2c9" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-289780c6-e1fc-48bb-90a8-f26fa37cefff" class="shg-c  ">
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>We understand and relate to the problems that most affiliates face:-</em></span></p>
<ul>
<li>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Slow payment</em></span></p>
</li>
<li>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Traffic does not convert</em></span></p>
</li>
<li>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>CPA too low</em></span></p>
</li>
<li>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Slow approval process</em></span></p>
</li>
</ul>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>With our fast approval process and swift payment, together with high CPA payouts and high converting offer, you can be assured that we have your best interests</em></span>.</p>
</div>
</div>
</div>
</div>
<div id="s-1e7732dc-6be7-4e70-af16-efb4fad29256" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-6eb77e0f-41c8-4fdf-b243-b68a70cc14d3" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Unique Mechanism Of </span></span></p>
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">How Provitalize Works</span></span></p>
</div>
<div id="s-c6640b8e-b0b1-442e-9e4e-ed43f4c814af" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-05e97495-d475-473a-92e0-c37e07a871d2">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-2f38d4c2-dbe2-4f87-af25-d3e95904281d" class="shg-c  ">
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Probiotics are live bacteria and yeasts that are good for you, especially for your digestive system. We usually think of these as germs that cause diseases. But your body is full of bacteria, both good and bad. </em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Probiotics are often called "good" or "helpful" bacteria because they help keep your gut healthy.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Studies have found that certain strains of the Lactobacillus family can help you lose weight and belly fat.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Research scientists conducted a gold standard double-blind, randomized, placebo-controlled study of the probiotic strain L Gasseri SBT2055.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Overweight subjects were given either a fermented milk containing the probiotic or a fermented milk without it. They then drank it daily for 12 weeks.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>At the end of the trial, the subjects dutifully arrived back to be assessed.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>The scientists were stunned to discover that those who'd drunk the probiotic milk had significant reductions in BMI and belly fat.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>I<u>n fact, there was an average weight reduction of 4.6% in belly fat and 1.4% reduction in body weight. And this was just from the daily probiotic, not from a brutal exercise regimen or starvation dieting.</u></em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>The team of Japanese scientists swiftly gave L Gasseri SBT2055 their stamp of approval.</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>In their study’s conclusion they stated that:</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><strong> <span style="font-family: Tahoma,Geneva,sans-serif;"> <em>"The probiotic LG2055 showed lowering effects on abdominal adiposity, body weight and other measures, suggesting its beneficial influence on metabolic disorders."</em></span></strong></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-cdb0c15c-a1b9-4e96-8669-dfdf9c3e4257" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div id="s-811c690a-0fe1-4667-a29f-11b1ee3d4527" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/83cdc39b-0a46-4a5e-98ff-f2c60650b8bb/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-c34da037-5d4a-4350-8ee6-eb3f853288b7" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-d64290d0-208c-4b5f-ab58-c5d7eebec6d4" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Ingredients</span></span></p>
</div>
<div id="s-b1a1e473-69da-4847-8f56-5a0bfb2ae8af" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-8e8615e5-2818-4b4a-9970-617ac1046971" class="shg-c  ">
<p style="text-align: center;"><em> <span style="font-family: Tahoma,Geneva,sans-serif;">Here are 5 Key Natural Ingredients That Help Destroy Cravings &amp; Repair Your Gut</span></em></p>
</div>
<div id="s-a5b12afe-9e17-47d4-8969-839d63debc61" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/b1b9623b-5cf6-4397-85f5-34733e15ecec/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-4adb10e9-5edf-4149-b66e-a98b7e01d11c" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-d3411cc8-27d8-4db6-80ef-f2d6899ab5fb" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Testimonials</span></span></p>
</div>
<div id="s-4a83fdc4-ecca-4457-ac69-b70bfe3b381e" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-3989089e-a86d-4b14-8124-0ee0ab16b783" class="shg-c  ">
<p style="text-align: center;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>What some of our customers have said about Provitalize</em></span></p>
</div>
<div class="shg-c  " id="s-b353a8da-62db-4a7e-95c6-c8e7ebd6d7cf">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div class="shg-box shg-c  " id="s-507fccec-639b-48e9-befd-37983512bac1">
<div class="shg-box-overlay"></div>
<div class="shg-box-content">
<div id="s-3847b2e1-e1a7-467b-9b41-00a75591f5c4" class="shg-c  ">
<p><em> <span style="font-family: Tahoma,Geneva,sans-serif;">Vicki Oleskey has a slimmer waist now.</span></em></p>
</div>
<div id="s-30c21ed3-7ac5-4bcb-87a2-1fe922dad6c0" class="shg-c  ">
<div class="shogun-video shogun-video-16x9"><iframe class="shogun-video-embed" src="https://www.youtube.com/embed/XjGheY1LENw?start=0&amp;end=0&amp;autoplay=0&amp;loop=0&amp;rel=1&amp;showinfo=1" allowfullscreen=""></iframe></div>
</div>
</div>
</div>
<div class="shg-box shg-c  " id="s-fd5681ef-8a34-4bb3-b811-e6a0e9ca84aa">
<div class="shg-box-overlay"></div>
<div class="shg-box-content">
<div id="s-f41bea2d-09b5-4bc4-8e18-55b0c42892da" class="shg-c  ">
<p><em> <span style="font-family: Tahoma,Geneva,sans-serif;">B.J. lost 2 inches off her belly fat.</span></em></p>
</div>
<div id="s-70f368a4-ef9b-43ab-bc4e-2cb2fafb7910" class="shg-c  ">
<div class="shogun-video shogun-video-16x9"><iframe class="shogun-video-embed" src="https://www.youtube.com/embed/epVgE6GNIys?start=0&amp;end=0&amp;autoplay=0&amp;loop=0&amp;rel=1&amp;showinfo=1" allowfullscreen=""></iframe></div>
</div>
</div>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div class="shg-box shg-c  " id="s-0da8e400-616d-4a7d-834f-69905e647570">
<div class="shg-box-overlay"></div>
<div class="shg-box-content">
<div id="s-1e2b92bb-4668-450e-8b40-79e4f223989f" class="shg-c  ">
<p><em> <span style="font-family: Tahoma,Geneva,sans-serif;">Betsy Ortolano couldn't be happier.</span></em></p>
</div>
<div id="s-f269141f-1f46-4ce9-98cb-d9e9ff9de333" class="shg-c  ">
<div class="shogun-video shogun-video-16x9"><iframe class="shogun-video-embed" src="https://www.youtube.com/embed/BsYe4kdG2dI?start=0&amp;end=0&amp;autoplay=0&amp;loop=0&amp;rel=1&amp;showinfo=1" allowfullscreen=""></iframe></div>
</div>
</div>
</div>
<div class="shg-box shg-c  " id="s-24e8bb57-ffef-4f03-abf4-15f9dc104fc4">
<div class="shg-box-overlay"></div>
<div class="shg-box-content">
<div id="s-a1a283d6-21f2-43ac-83db-d6a27b7eb1de" class="shg-c  ">
<p><em> <span style="font-family: Tahoma,Geneva,sans-serif;">Jennifer Stillwell lost 15 pounds so far.</span></em></p>
</div>
<div id="s-9de2ec8d-f62e-4f91-8052-2fdbc2081d6f" class="shg-c  ">
<div class="shogun-video shogun-video-16x9"><iframe class="shogun-video-embed" src="https://www.youtube.com/embed/8KKZ5lNX1do?start=0&amp;end=0&amp;autoplay=0&amp;loop=0&amp;rel=1&amp;showinfo=1" allowfullscreen=""></iframe></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="s-1a5cb46a-2e27-4103-b118-22af3cb353d1" class="shg-c  ">
<p style="text-align: center;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>More reviews from our customers</em></span></p>
</div>
<div id="s-1d5b9d4a-c0fb-4027-aa60-ea83eb3f40c2" class="shg-c  ">
<div data-oke-reviews-widget=""></div>
</div>
<div id="s-08dc1be3-828e-4057-9f69-52f67a697969" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-6a996bae-3b48-4d3b-8f85-8cc31aca7906" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Conversion Rates</span></span></p>
</div>
<div id="s-fefca95c-4b30-473b-bf3f-951cc3570a7d" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-7607720a-d090-4d15-bae8-388149df9b82">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-a7748def-9612-4da1-9c83-dbc911275647" class="shg-c  ">
<p><em>Our conversion rates are currently at 0.8% - 1%</em></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-38fc3fa2-acac-4bc9-82e4-86ea0b8348f0" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div id="s-49c65d2f-823d-48b2-9485-b1f35c874065" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-adb5ae46-d545-40f7-8d86-119ef7786d1b" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">EPCS</span></span></p>
</div>
<div id="s-b66c2d2d-34a0-4b70-9231-ef0b9b5cc3a0" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-97cf8fd0-decd-4704-9ec9-f070f0cd6cd9">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-669e501c-ca37-4cb7-a51b-ef60e28a5535" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-7d8a1fc2-d7f9-4eec-aabf-d5cdba24dd66" class="shg-c  ">
<p><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>Our earnings per click is $1.48 - $1.70</em></span></p>
</div>
</div>
</div>
</div>
<div id="s-88a2e33d-ac30-4b56-bdb9-341ef05c9fa0" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-1e5365ac-88c5-48c0-b63d-5beb094fab0f" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Email Swipes</span></span></p>
</div>
<div id="s-0a926e00-703f-4418-a89a-95964f99a54d" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-5b5fdb7b-04f4-4b47-9492-55362f39c6fc">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-e70a1c14-3a81-4637-bee2-b60e8f22ddee" class="shg-c  ">
<p><em> <span style="font-family: Tahoma,Geneva,sans-serif;"> <a href="https://docs.google.com/document/d/14fa8aSIE3jEOKBCgXIuI01KQy8m8FpMWZv9wOy5Sgt8/edit">Click here to download our Sales Letter Email Swipe</a></span></em></p>
<p><em> <span style="font-family: Tahoma,Geneva,sans-serif;"> <a href="https://docs.google.com/document/d/1wJR7LW90XKA0RmmAMnQUp0zIbNFM8TSRRvRvl7UVcqU/edit">Click here to download our Video Sales Letter Email Swipe</a></span></em></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-e0a045ef-bef8-4804-9e06-ad6acbee00bf" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div id="s-8cd9c5d6-700b-49fe-be8c-bdf46449248c" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-be3a50bc-7435-4d13-aebf-c538e69fc748" class="shg-c  ">
<p style="text-align: center;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <span style="font-size: 30px;">Sales Page</span></span></p>
</div>
<div id="s-c6a7b18b-2e61-4241-8392-e40251dc59e7" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-8db0a604-1b6c-45cc-badd-05a4dc5e228d">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-b44532ed-f24e-42d2-8b70-ca3173f1b363" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-18b168cc-1e83-4801-ab97-fc945d81a3cf" class="shg-c  ">
<p><a href="https://shop.betterbody.co/pages/sl-provitalize-msl"> <em> <span style="font-family: Tahoma,Geneva,sans-serif;">Click here to access our Sales Page</span></em></a></p>
</div>
</div>
</div>
</div>
<div id="s-6557a4fa-4ba5-4f2a-a32b-13b2504f62d5" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-202399f6-e67e-445e-9d93-876260e0a765" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">CPA</span></span></p>
</div>
<div id="s-f540c4ac-5d66-4bb9-b238-11ef37f4f287" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-612177f4-d678-437a-86aa-e8f16edf15e7">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-0a4c2790-f938-4781-93c2-d1f69ccc4ab7" class="shg-c  ">
<p><em>Earn $70 CPA for every sale you made!</em></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-d49e6065-ab5b-4ee8-a01d-d5c4329b439d" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div id="s-2876abc2-d93b-4ba0-9b4d-cf35aa341de5" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-bb862de5-74cc-4bdf-b656-c11ed61751ac" class="shg-c  ">
<p style="text-align: center;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <span style="font-size: 30px;">Sign Up Link</span></span></p>
</div>
<div id="s-dc65c1d5-fbb8-410e-aa90-dbbb333eab6f" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-a0f1fe6e-4ad6-4f83-9169-38f67ac09a12">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-2b91a0e6-9a97-45b4-bf90-e57deba4ff07" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-95530dd8-f0d3-4310-bb8c-ff39b10f83e4" class="shg-c  ">
<p><em> <a href="http://betterbodyco.hasoffers.com/signup">Click here to apply as an affiliate!</a></em></p>
</div>
</div>
</div>
</div>
<div id="s-5ffd8b01-d1c7-48b5-9149-30d0ca31cd31" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-f459643b-d74c-4ca8-8141-1ad244db7892" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Benefits Of Promoting For Us</span></span></p>
</div>
<div id="s-13546b73-7f79-4e12-9b57-460178f98fdd" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-c535c775-783d-4453-b88c-029bdffc524d">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-2a47d3e4-a5ae-499c-8d3d-79ca1dfd06a4" class="shg-c  ">
<p style="text-align: justify;"><em>The Better Body “Riches In Niches” Affiliate Program: </em></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><strong> <em>How To Earn $3,000-$10,000 a Week By Focusing ONE Emotion In Your Emails!</em></strong></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><em>- Works best for affiliates with <strong>list sizes of 10,000 to 100,000 in the weight loss niche</strong> (supplements, digital products, email subscriber list).</em></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><em>- We’ll share the <strong>highest EPC email strategy for small affiliates </strong>(how to maximise the profitability of your list, even if you only have 12,000 names).</em></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><em>- <strong>Cash bonus of $100 after your 1st 10 sales</strong> (yes, we’re sales people too so we know that extra dough is always good).</em></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><em>- <strong>Get paid on every 15th and 30th of the month</strong> (yes, it sucks to wait for commissions, we treat and respect you as a business and give you the cash flow to build your list)!</em></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><em>- Direct communication with our list Manager (Nicki) who will give you the scoop on the types of lists that work well with our offer, bi-weekly email swipe updates and even tell you what OTHER offers to promote <strong>to help you make the MOST money possible</strong> (please give her 24 hours to reply, she’s helping tons of affiliates on a daily basis).</em></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><em>YES, we’re not expecting you to only mail for us...<strong>we’re also want YOU to make MORE money</strong> with our recommendations. So that when we do launches, we know you got our back (;</em></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><em>- <strong>Juicy, guaranteed $70 CPA</strong> (higher sales volume gives you access to different percentage tiers, secret bonuses and special training programs).</em></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-a7bff57e-5b4a-424e-8504-a1d383e3e80e" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div id="s-0b0a8f8f-8f64-4b97-9ed4-7a3ec280b564" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-39af31b0-6550-4ab0-b899-7583ccf9700a" class="shg-c  ">
<p style="text-align: center;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <span style="font-size: 30px;">How We Are Different</span></span></p>
</div>
<div id="s-ffad27b3-92f1-4517-92d4-cf92af7aedd1" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-b4cff3be-0fdc-417d-b1e3-5eed37f17a28">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-83e51c42-2693-4339-b436-9e9b5e4ac8e2" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-f2f48240-cdac-4ad6-b038-9d9d46f9ebf4" class="shg-c  ">
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>While we can’t promise you rolexes, a Lamborghini and other fancy stuff, we CAN promise you that through our insights, tips and strategies compiled from the different masterminds we learnt from around the world...</em></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>You’ll be on track to running a REAL, PROFITABLE affiliate business and be able to cash in $3,000 to $10,000 each week with the right structures/processes!</em></span></p>
</div>
</div>
</div>
</div>
<div id="s-56cab787-7d1d-4a1d-a638-0fc1d9e6abe2" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-2eea7951-e465-4a66-83f5-2bf6313972db" class="shg-c  ">
<p style="text-align: center;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <span style="font-size: 30px;">Our Results So Far</span></span></p>
</div>
<div id="s-640d7bb9-8a5e-4588-bad7-0c4e08127f1e" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-95f2166a-35a2-4c08-a21d-475cb21b2510">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-9654a415-1bef-4485-9355-0e60512ba7e6" class="shg-c  ">
<p style="text-align: justify;"><strong>Over 30,000 bottles </strong>sold. Our initial test with cold traffic had lead to over $1.3 Million in sales.</p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-09f009a7-bc81-452a-98ff-25a3a6101735" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div id="s-bc00bf2b-c64f-44dd-a7f7-96311912985c" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/4f03639d-7964-4998-b586-b44852d61bab/-/format/auto/-/stretch/off/-/resize/3000x/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-043916c8-f1b7-416b-abcd-0dc15718d0a0" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-d608938e-a468-4b5d-bf81-aabd3e595403" class="shg-c  ">
<p style="text-align: center;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <span style="font-size: 30px;">Facebook Advertising Stats</span></span></p>
</div>
<div id="s-a95b63f8-0f1f-411d-8cda-c6f3b9687ab3" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-902301a6-bb0e-45bd-b736-e857a20957e1">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-70534218-2b07-4ff8-a90b-17c01a83f7ff" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-bbb90c1e-1711-458b-965a-c12d3eee75e0" class="shg-c  ">
<p>EPC: <strong>$1.48 - $1.70</strong> <br /> Conversion rate: <strong>1.3% - 1.95%</strong> <br /> AOV: <strong>$140</strong></p>
</div>
</div>
</div>
</div>
<div id="s-bf4c1bf5-fed3-40ae-9c7a-8fe1120e4f37" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/59aa59ab-09b2-4cf8-9638-294c693cd9f3/-/format/auto/-/stretch/off/-/resize/3000x/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-d9b4a5eb-4c6d-4513-8805-96fcf74029fd" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-ac269095-8eb5-4bb9-880a-053e22a6e023" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="color: #000000; font-family: Tahoma,Geneva,sans-serif;">How Well Does It Convert?</span></span></p>
</div>
<div id="s-3363083e-21d2-4292-a6a7-f960da8fc88d" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-7fcf0aca-d764-4d55-a9db-6a641f0f19ce">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-950f850d-3570-415e-873d-b8d18fc6a91f" class="shg-c  ">
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em> <strong>CONVERTS GREAT  </strong>with weight loss, personal development, health &amp; fitness, finance and other women’s traffic . . .</em></span></p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em> <strong>CONVERTS</strong> on social media . . .</em></span></p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em> <strong>CONVERTS</strong> on COLD traffic . . .</em></span></p>
<p style="text-align: justify;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>You definitely would want to send some traffic to this offer to test it out!</em></span></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-a734aaad-9b71-46ab-9f6f-6d0ed41e8f80" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div id="s-d80527da-827c-40ee-a676-61642b9da773" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  shg-align-center"><a id="s-b0934739-997d-410c-89ee-1bc5c3b2cf6c" style="display: block;" class="shg-btn " href="http://betterbodyco.hasoffers.com/signup" target="_blank" rel="noopener noreferrer">Click HERE To Apply As Affiliate!</a></div>
<div id="s-59b15d65-a3b0-4e7b-b7b4-452ccd26362d" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-28d9dfc3-e573-4878-823d-c46dcc281e98" class="shg-c  ">
<p style="text-align: center;"><span style="font-size: 30px;"> <span style="color: #000000; font-family: Tahoma,Geneva,sans-serif;">About The Marketing Team Behind Betterbody.co</span></span></p>
</div>
<div id="s-b9c57e83-91e6-4d16-b600-e806bb98da05" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-6e5016bc-6c09-4c8d-ba3a-0964c3606a81">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-23b02fd9-6f3f-44d9-aa32-df3f32fe0490" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-b7332785-9a4b-4af4-8a5d-92bb3057ae5e" class="shg-c  ">
<p><span style="font-family: Tahoma,Geneva,sans-serif;"> <em>We are a highly motivated team of direct-response marketers based in Singapore. <br /> <br /> Our founder Sant Qiu, is one of the top direct-response marketers in Singapore and has been in the marketing industry <strong>for the last 15 years.</strong> He is also heavily endorsed by local businesses as well as international talents like <strong>Jack Trout, Brian Tracy</strong> amongst others.</em></span></p>
</div>
</div>
</div>
</div>
<div id="s-951bccfe-147c-4064-acea-5479c4844874" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div id="s-0863f931-7ef6-4ad7-a38e-5f6821f161aa" class="shg-c  ">
<p style="text-align: center;"><span style="color: null;"> <span style="font-family: Tahoma,Geneva,sans-serif;"> <span style="font-size: 30px;">Who We've Been Learning From</span></span></span></p>
</div>
<div id="s-5d518344-126f-4399-b4a6-08ab4a0477fc" class="shg-c  ">
<hr style="border: 0; width: 100%; border-top: 2px solid #ddd;" />
</div>
<div class="shg-c  " id="s-60898a1a-131d-41c6-a708-320613977d38">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-3ea4aa16-4c2b-4fbf-bc15-45bb7aa3dace" class="shg-c  ">
<p style="text-align: justify;"><em> <span style="color: null;"> <span style="font-family: Tahoma,Geneva,sans-serif;">Learning from experts is something we do on a regular basis, from copywriting to design, to different traffic &amp; media buying experts.</span></span></em></p>
<p style="text-align: justify;"><em> <span style="color: null;"> <span style="font-family: Tahoma,Geneva,sans-serif;">We make it a point to ensure that we learn from the best in the game, so rest assured that the quality of traffic is solid and consistent.</span></span></em></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-3b7c168c-e4b0-4b9f-87e3-68d46351c702" class="shg-c  shg-align-center">
<div class="shogun-image-container">
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
</div>
</div>
</div>
<div class="shg-fw" style="margin-left: -9999px; margin-right: -9999px;">
<div class="shg-fw-inner" style="width: 100vw; margin-left: auto; margin-right: auto;">
<div class="shg-c  " id="s-80b0cc1a-968e-4d11-827b-05bab3dc56ca">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-2 shg-c-md-2 shg-c-sm-2 shg-c-xs-12"></div>
<div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
<div class="shg-box shg-c  shg-align-left" id="s-21e421ee-e12a-4be5-a172-53247094a502">
<div class="shg-box-overlay"></div>
<div class="shg-box-content">
<div class="shg-c  " id="s-dad5fce4-a53b-4db8-b128-9bbac0bdbad6">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"></div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"></div>
</div>
</div>
<div class="shg-c  " id="s-af979d83-caba-446d-ba57-e20416899421">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-19da433e-e8bf-4790-8975-cace37d85378" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/4d2755a0-8604-41ec-9ce7-3ea304c10900/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-7456b533-a461-4206-a3ae-70fea5f9f042" class="shg-c  shg-align-left">
<p style="text-align: center;"><em> <span style="font-family: Tahoma,Geneva,sans-serif;"> <span style="line-height: 8px;">(With David Deutsch, Copywriting Principles Session)</span></span></em></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-faa65ea3-2501-4215-9f96-6951167a488b" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/762500be-330c-467b-afa1-d928bc35a91a/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-0514a702-bf42-433f-ad57-1866d98c773e" class="shg-c  shg-align-left">
<p style="text-align: center;"><span style="color: null;"> <span style="font-family: Tahoma,Geneva,sans-serif;"> <em>(Dennis Yu, sharing about systems, plumbing &amp; Facebook optimization with our team)</em></span></span></p>
</div>
</div>
</div>
</div>
<div class="shg-c  " id="s-e10d3dd6-8b7c-49ab-8a36-b3bcafaf8d38">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-ccb0b9de-c2b6-48e5-afb6-ce7e0c62e174" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/57ca457a-483b-4f68-8c0b-b97e7d7c6858/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-84cf8a87-68d0-4c7f-98d1-762654c0a126" class="shg-c  ">
<p style="text-align: center;"><span style="color: null;"> <span style="font-family: Tahoma,Geneva,sans-serif;"> <em>(Our traffic guys hanging out with Justin Brooke at his mastermind in Jamaica)</em></span></span></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-c5cab2fb-8589-4908-b87b-54a2b5a1ca4a" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/6588a484-8556-4ffc-b60a-75a1a229dd4f/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-a9798de4-d741-4899-826a-8d10ecb82499" class="shg-c  ">
<p style="text-align: center;"><span style="color: null;"> <span style="font-family: Tahoma,Geneva,sans-serif;"> <em>(With Ed O'keefe, Health Intensive Mastermind)</em></span></span></p>
</div>
</div>
</div>
</div>
<div class="shg-c  " id="s-fcd322a1-c206-4db8-9e5b-4b4b6ec641a6">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-177fdcd6-73d3-4bff-96d8-147738f1f86d" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/36ede580-3c15-4ee7-934f-e586fa35c951/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-7c97e65d-f826-4e6b-bebe-0512c4ef6728" class="shg-c  ">
<p style="text-align: center;"><span style="color: null;"> <span style="font-family: Tahoma,Geneva,sans-serif;"> <em>(With the Mimosa gang from the Mimosa Mastermind)</em></span></span></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-b64531f7-79c2-45ef-91ab-2ff54a4da737" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/7870d197-409c-4932-b395-5f2ca6f4c7b2/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-782b6f73-d696-4d6a-be87-2cfe0be32cea" class="shg-c  ">
<p style="text-align: center;"><em> <span style="font-family: Tahoma,Geneva,sans-serif;">(With Blake &amp; Brittney Hartshorn from Red Ox Consulting)</span></em></p>
</div>
</div>
</div>
</div>
<div class="shg-c  " id="s-6dacb774-bd64-4b2f-a19c-b3e3d9d4981a">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-a754ff87-654c-499d-9b70-8feb9d7bfb63" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/e2b5d8ec-a2c4-415c-ad13-f5f38b2928c2/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-f3843329-e1ff-43f4-9437-aa04b4364df2" class="shg-c  ">
<p style="text-align: center;"><span style="color: null;"> <span style="font-family: Tahoma,Geneva,sans-serif;"> <em>(With Agora Copywriter Nate Rifkin)</em></span></span></p>
</div>
</div>
<div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div id="s-ef4c5350-fc56-4c26-8d91-27b79237e02f" class="shg-c  shg-align-center">
<div class="shogun-image-container"><img src="https://i.shgcdn.com/4ced5b22-6f36-4a59-8393-19776b93d2be/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" alt="" class="shogun-image img-responsive " />
<div class="shogun-image-overlay shg-middle-center"></div>
</div>
</div>
<div id="s-cfddfd95-99a7-4f24-81b0-6fa0975c4fe4" class="shg-c  ">
<p style="text-align: center;"><em> <span style="font-family: Tahoma,Geneva,sans-serif;">(With Amber Slaughter from The Project Architect)</span></em></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="shg-c-lg-2 shg-c-md-2 shg-c-sm-2 shg-c-xs-12"></div>
</div>
</div>
</div>
</div>
<div class="shg-box shg-c  " id="s-c0b7f3ac-96b4-455e-890e-146a2fb4603c">
<div class="shg-box-overlay"></div>
<div class="shg-box-content">
<div class="shg-c  shg-align-center"><a id="s-bcf33b96-c569-4ae0-9a5b-901de0c58f99" style="display: block;" class="shg-btn " href="http://betterbodyco.hasoffers.com/signup" target="_blank" rel="noopener noreferrer">Click HERE To Apply As Affiliate!</a></div>
</div>
</div>
<div class="shg-c  " id="s-a484b59b-695a-47d6-b733-0032f6e499fe">
<div class="shg-row" data-col-grid-mode-on="">
<div class="shg-c-lg-1 shg-c-md-1 shg-c-sm-1 shg-c-xs-12"></div>
<div class="shg-c-lg-10 shg-c-md-10 shg-c-sm-10 shg-c-xs-12">
<div id="s-ffd4b5d9-ea9b-4f36-8edf-f62637296abf" class="shg-c  ">
<p style="text-align: center;"><span style="font-family: Tahoma,Geneva,sans-serif;"> <span style="font-size: 30px;">Affiliate Manager: Joel Sim<br /> Email: affiliates@betterbody.co<br /> Skype: live:joelsim92</span></span></p>
</div>
</div>
<div class="shg-c-lg-1 shg-c-md-1 shg-c-sm-1 shg-c-xs-12"></div>
</div>
</div>
</div>
</div>
</div>
<div class="shg-c-lg-2 shg-c-md-2 shg-c-sm-2 shg-c-xs-12"></div>
</div>
</div>
<script type="text/javascript" src="https://cdn.getshogun.com/0966386a-46eb-4113-9d80-7c081f270644.js" async=""></script></div>
