<div class="block__image_with_text">
    <!-- Blog posts -->
    <div class="container standard--width">
        <div class="featured_collections
          clearfix across-1 image-align--left">
            <section class="featured-link--section featured-link--image section-6">
                <div class="featured-link--half featured-link--image featured-link--margin">
                    <div class="featured-link--wrap">
                        <a title="#1: 3 SPECIFIC THERMOGENIC PROBIOTICS STRAINS"> <img src="//cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_1400x.jpg?v=1544570535" alt="#1: 3 SPECIFIC THERMOGENIC PROBIOTICS STRAINS" class="full-width-image blur-up lazyautosizes lazyloaded" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_1400x.jpg?v=1544570535" data-srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_2048x.jpg?v=1544570535 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_1600x.jpg?v=1544570535 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_1200x.jpg?v=1544570535 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_1000x.jpg?v=1544570535 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_800x.jpg?v=1544570535 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_600x.jpg?v=1544570535 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_400x.jpg?v=1544570535 400w" sizes="582px" srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_2048x.jpg?v=1544570535 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_1600x.jpg?v=1544570535 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_1200x.jpg?v=1544570535 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_1000x.jpg?v=1544570535 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_800x.jpg?v=1544570535 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_600x.jpg?v=1544570535 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/fog-on-dark-waters-edge_400x.jpg?v=1544570535 400w"></a>
                    </div>
                </div>
                <div class="featured-link--half">
                    <div class="info text-align--left"> <a class="collection_title">
                  #1: 3 SPECIFIC THERMOGENIC PROBIOTICS STRAINS</a>
                        <div class="description">
                            <p>L. Gasseri SBT 2055B.</p>
                            <p>Breve IDDC 4011</p>
                            <p>B. Lactis 4011</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <style>

        body {
            background: #fff;
        }
        .standard--width .featured-link--margin {
            margin-left: 0%;
            margin-right: 3%;
        }
        
        .standard--width .image-align--right .featured-link--margin {
            margin-left: 3%;
            margin-right: 0%;
        }
        
        .standard--width .featured-link--half {
            width: 45%;
        }
    </style>
    <!-- Map -->
</div>

<div class="block__image_with_text">
    <!-- Blog posts -->
    <div class="container standard--width">
        <div class="featured_collections
          clearfix across-1 image-align--left">
            <section class="featured-link--section featured-link--image section-7">
                <div class="featured-link--half featured-link--image featured-link--margin">
                    <div class="featured-link--wrap">
                        <a title="#2: 3 NATURAL HERBS FOR CRAVING SUPPORT"> <img src="//cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_1400x.jpg?v=1544570554" alt="#2: 3 NATURAL HERBS FOR CRAVING SUPPORT" class="full-width-image blur-up lazyautosizes lazyloaded" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_1400x.jpg?v=1544570554" data-srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_2048x.jpg?v=1544570554 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_1600x.jpg?v=1544570554 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_1200x.jpg?v=1544570554 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_1000x.jpg?v=1544570554 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_800x.jpg?v=1544570554 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_600x.jpg?v=1544570554 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_400x.jpg?v=1544570554 400w" sizes="582px" srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_2048x.jpg?v=1544570554 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_1600x.jpg?v=1544570554 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_1200x.jpg?v=1544570554 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_1000x.jpg?v=1544570554 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_800x.jpg?v=1544570554 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_600x.jpg?v=1544570554 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/dreamy-clouds_400x.jpg?v=1544570554 400w"></a>
                    </div>
                </div>
                <div class="featured-link--half">
                    <div class="info text-align--left"> <a class="collection_title">
                  #2: 3 NATURAL HERBS FOR CRAVING SUPPORT</a>
                        <div class="description">
                            <p>Curcumin (from Turmeric)</p>
                            <p>Moringa Leaf</p>
                            <p>Curry Leaf</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>

<div class="block__image_with_text">
    <!-- Blog posts -->
    <div class="container standard--width">
        <div class="featured_collections
          clearfix across-1 image-align--left">
            <section class="featured-link--section featured-link--image section-8">
                <div class="featured-link--half featured-link--image featured-link--margin">
                    <div class="featured-link--wrap">
                        <a title="#3: 3 INGREDIENT &amp; NUTRIENT ABSORPTION BOOSTERS"> <img src="//cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_1400x.jpg?v=1544570745" alt="#3: 3 INGREDIENT &amp; NUTRIENT ABSORPTION BOOSTERS" class="full-width-image blur-up lazyautosizes lazyloaded" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_1400x.jpg?v=1544570745" data-srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_2048x.jpg?v=1544570745 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_1600x.jpg?v=1544570745 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_1200x.jpg?v=1544570745 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_1000x.jpg?v=1544570745 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_800x.jpg?v=1544570745 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_600x.jpg?v=1544570745 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_400x.jpg?v=1544570745 400w" sizes="582px" srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_2048x.jpg?v=1544570745 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_1600x.jpg?v=1544570745 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_1200x.jpg?v=1544570745 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_1000x.jpg?v=1544570745 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_800x.jpg?v=1544570745 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_600x.jpg?v=1544570745 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/woman-in-summer-fashion_400x.jpg?v=1544570745 400w"></a>
                    </div>
                </div>
                <div class="featured-link--half">
                    <div class="info text-align--left"> <a class="collection_title">
                  #3: 3 INGREDIENT &amp; NUTRIENT ABSORPTION BOOSTERS</a>
                        <div class="description">
                            <p>Sunflower Lecithin</p>
                            <p>BioPerine® (Black Pepper Extract)</p>
                            <p>DRCaps™ (Acid-Resistant Capsules)</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>