{% include 'shogun-products', content: page %}
{% layout 'theme.vsl' %}

    <div class="container-fluid full_wrapper header_bg">
        <div class="container site-container">
            <div class="row row_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 header1">
                    <center><img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-logo_03.png?16478398540356544269" alt="logo" class="logo"></center>
                </div>
                <!--header-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--full-wrapper-->
    <div class="container-fluid full_wrapper bb-caption_bg">
        <div class="container site-container">
            <div class="row row_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 bb-caption">
                    <p>Neuroscientists Discover Shocking Reason Why Starvation Dieting Never Works</p>
                </div>
                <!--caption-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--full-wrapper-->
    <div class="container-fluid full_wrapper third-section-bg">
        <div class="container site-container">
            <div class="row row_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 third-section">
                    <h1 class="third-section-head">Is a Mind Controlling Parasite to Blame for<br> Your Food Cravings?</h1>
                    <script src="https://fast.wistia.com/embed/medias/gcfggmbnwg.jsonp" async></script>
                    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_gcfggmbnwg autoPlay=false wmode=transparent playbar=false controlsVisibleOnLoad=false fullscreenButton=false playbackRateControl=false qualityControl=false videoFoam=true volumeControl=false captions=false smallPlayButton=false endVideoBehavior=loop settingsControl=false stillUrl={{'overweight.jpg'| asset_url}}" style="height:100%;width:100%">
                                <!--<div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-video2_03.png?16478398540356544269" style="height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" /></div>-->
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="third-section-box">
                        <p class="third-section-box-text">Digestive health experts have developed a safe, natural way of wiping out this parasite for fewer food cravings and easier weight loss. On this page discover exactly what it is and how to get it for yourself</p> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-wrap_03.png?5333080095482728724" alt="wrap" class="wrap"> </div>
                </div>
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--full-wrapper-->
    <br>
    <div class="container-fluid full_wrapper">
        <div class="container site-container">
            <div class="row row_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 forth-section">
                    <center> <a href="https://shop.betterbody.co/pages/sl-provitalize" class="video-link" target="_self">Read a Text Version of this Video </a> </center>
                    <center>
                        <a href="#pricing">
                            <button class="cart-btn" id="cart-btn">Add to Cart <i class="fa fa-cart-arrow-down"></i></button>
                        </a>
                    </center>
                    <center>
                        <div class="cards" id="cards"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-master_07.png?16478398540356544269" alt="master"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-visa_07.png?16478398540356544269" alt="visa"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-cirrus_07.png?16478398540356544269" alt="cirrus"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-ae_07.png?16478398540356544269" alt="American-Express"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-paypal_07.png?16478398540356544269" alt="paypal"> </div>
                    </center>
                </div>
                <!--forth-section-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--full-wrapper-->
    <div class="container-fluid full_wrapper satisfaction-bg">
        <div class="container site-container">
            <div class="row row_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 satisfaction"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-what_03.png?16478398540356544269" alt="what" class="what"> </div>
                <!--satisfaction-->
                <div class="row row_wrap">
                    <div class="col-md-12 col-sm-12 col-xs-12 satisfy">
                        <div class="col-md-12 col-sm-12 col-xs-12 satisfaction-text-div">
                            <p class="satisfaction-text"><span><img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-check_03.png?16478398540356544269" class="check"></span> Why dieting never works long-term, no matter how much you restrict your food choices, cut calories or exercise.</p>
                            <p class="satisfaction-text"><span><img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-check_03.png?16478398540356544269" class="check"></span> How a microscopic pest has taken control of the nerve from the stomach to the brain and forces people to crave fat creating junk food.</p>
                            <p class="satisfaction-text"><span><img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-check_03.png?16478398540356544269" class="check"></span> A protocol that fixes the 3 key reasons why all previous attempts to eradicate the parasite have failed.</p>
                            <p class="satisfaction-text"><span><img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-check_03.png?16478398540356544269" class="check"></span> A recent breakthrough in microbiological science that has helped 12,000 people and counting to wipe out this parasite and to get down to their ideal weight without starvation dieting.</p>
                        </div>
                        <!--satisfaction-text-div-->
                        <!--<div class="col-md-4 col-sm-4 col-xs-12 round-div">
  <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-round_03.png?16478398540356544269" alt="round" class="round">
  
 </div>-->
                        <!--round-div-->
                    </div>
                    <!--satisfaction-text-->
                </div>
                <!--row-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--full-wrapper-->
    <div class="container-fluid full_wrapper pricing-div" id="pricing">
        <div class="container site-container">
            <div class="row row_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 pricing">
                    <div class="col-md-4 col-sm-4 col-xs-12 price1">
                        <div class="single">
                            <h2 class="single-head">GET 1 BOTTLE</h2>
                            <p class="single-text">For a Small Boost in Weight Management*</p>
                        </div>
                        <div class="price1-img-div">
                            <center><img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-price1_07.png?16478398540356544269" class="price1-img"></center>
                            <center>
                                <p class="price1-ship">1 Month Supply</p>
                            </center>
                            <center>
                                <p class="price1-ship">$67 Per Bottle</p>
                            </center>
                            <center>
                                <a href="https://shop.betterbody.co/a/secure/checkout/kH3QtbmXJ1UPFBKSb5B5" target="_self">
                                    <button class="price1-cart-btn">Add to Cart <i class="fa fa-cart-arrow-down"></i></button>
                                </a>
                            </center>
                            <center>
                                <div class="price1-cards"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-master_07.png?16478398540356544269" alt="master"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-visa_07.png?16478398540356544269" alt="visa"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-cirrus_07.png?16478398540356544269" alt="cirrus"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-ae_07.png?16478398540356544269" alt="American-Express"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-paypal_07.png?16478398540356544269" alt="paypal"> </div>
                            </center>
                        </div>
                    </div>
                    <!--price1-->
                    <div class="col-md-4 col-sm-4 col-xs-12 price3">
                        <div class="corner-text-wrapper">
                            <div class="corner-text"> <span>BEST<br> VALUE</span> </div>
                        </div>
                        <div class="price3-section1">
                            <h2 class="price3-head">GET 4 BOTTLES</h2>
                            <p class="price3-text">For Sustainable Longer-Term Results*</p>
                        </div>
                        <div class="price3-img-div">
                            <center><img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-price3_11.png?16478398540356544269" class="price3-img"></center>
                            <center>
                                <p class="price3-ship">4 Month Supply (Save $196)</p>
                            </center>
                            <center>
                                <p class="price3-save">$199.80</p>
                            </center>
                            <center>
                                <p class="price3-ship">$49.95 Per Bottle</p>
                            </center>
                            <center>
                                <a href="https://shop.betterbody.co/a/secure/checkout/bfwJ0PUweirXfvPUOiFi" target="_self">
                                    <button class="price3-cart-btn">Add to Cart <i class="fa fa-cart-arrow-down"></i></button>
                                </a>
                            </center>
                            <center>
                                <div class="price3-cards"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-master_07.png?16478398540356544269" alt="master"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-visa_07.png?16478398540356544269" alt="visa"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-cirrus_07.png?16478398540356544269" alt="cirrus"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-ae_07.png?16478398540356544269" alt="American-Express"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-paypal_07.png?16478398540356544269" alt="paypal"> </div>
                            </center>
                        </div>
                    </div>
                    <!--price3-->
                    <div class="col-md-4 col-sm-4 col-xs-12 price2">
                        <div class="price2-section1">
                            <h2 class="price2-head">GET 2 BOTTLES</h2>
                            <p class="price2-text">For Short-Term Weight Management*</p>
                        </div>
                        <div class="price2-img-div">
                            <center><img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-price2_09.png?16478398540356544269" class="price2-img"></center>
                            <center>
                                <p class="price2-ship">2 Month Supply (Save $79)</p>
                            </center>
                            <center>
                                <p class="price2-save">$119.90</p>
                            </center>
                            <center>
                                <p class="price2-ship">$59.95 Per Bottle</p>
                            </center>
                            <center>
                                <a href="https://shop.betterbody.co/a/secure/checkout/D12vwQ32E5ajGz28kQNa" target="_self">
                                    <button class="price2-cart-btn">Add to Cart <i class="fa fa-cart-arrow-down"></i></button>
                                </a>
                            </center>
                            <center>
                                <div class="price2-cards"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-master_07.png?16478398540356544269" alt="master"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-visa_07.png?16478398540356544269" alt="visa"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-cirrus_07.png?16478398540356544269" alt="cirrus"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-ae_07.png?16478398540356544269" alt="American-Express"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-paypal_07.png?16478398540356544269" alt="paypal"> </div>
                            </center>
                        </div>
                    </div>
                    <!--price2-->
                </div>
                <!--pricing-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--full-wrapper-->
    <div class="container-fluid full_wrapper guarantee" id="guarantee">
        <div class="container site-container">
            <div class="row row_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 guarantee-box">
                    <h1 class="guarantee-head">60 Day Guarantee
</h1>
                    <!--<p class="guarantee-text">Try Provitalize. If you are unable to lose weight, to improve your digestion or are unsatisfied for any reason your purchase will be refunded in full.</p>-->
                    <p class="guarantee-text">All Orders Are Protected By Our 100% Money Back, 60 Day Guarantee.
                        <br> Order right now with confidence! At The Better Body Co., we take your results seriously. We stand behind every product we make. So, one of our core beliefs is that you should NEVER have to pay for something that doesn't work for you. That's why we'll give you 60 days to try Provitalize, absolutely risk-free.
                        <br> Try Provitalize and if it doesn't work for you, you'll get your money back! There's absolutely no-risk in giving it a try. </p> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-60_17.png?16478398540356544269" class="sixty-img"> </div>
                <!--guarantee-box-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--full-wrapper-->
    <div class="container-fluid full_wrapper reference">
        <div class="container site-container">
            <div class="row row_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 reference-box"> <img src="https://cdn.shopify.com/s/files/1/0138/0882/8474/files/bb-reference_03.png?16478398540356544269" class="reference-img">
                    <p class="reference-text">1. https://www.theatlantic.com/health/archive/2014/08/your-gut-bacteriawant- you-to-eat-a-cupcake/378702/</p>
                    <p class="reference-text">2. Is eating behavior manipulated by the gastrointestinal microbiota? Evolutionary pressures and potential mechanisms. BioEssays, 2014. Mosley, Michael. The Clever Guts Diet: How to Revolutionise Your Body from the Inside Out (p. 273). Short Books. Kindle Edition.</p>
                    <p class="reference-text">3. https://www.scientificamerican.com/article/how-gut-bacteria-tell-theirhosts-what-to-eat/</p>
                    <p class="reference-text">4. https://www.scientificamerican.com/article/the-obesity-plague-andantibiotics/</p>
                    <p class="reference-text">5. https://draxe.com/candida-symptoms/</p>
                    <p class="reference-text">6. https://bodyecology.com/articles/goodbye-suar-craings-what-drivessugar-cravings-and-how-to-overcome-them</p>
                    <p class="reference-text">7. https://bodyecology.com/articles/goodbye-sugar-cravings-what-drivessugar- cravings-and-how-to-overcome-them</p>
                    <p class="reference-text">8. https://bodyecology.com/articles/goodbye-sugar-cravings-what-drivessugar- cravings-and-how-to-overcome-them</p>
                    <p class="reference-text">9. https://www.motherjones.com/environment/2013/11/maps-antibioticsprescriptionsobesity-states/</p>
                    <p class="reference-text">10. https://www.spinehealth.com/medications-laxatives.php</p>
                    <p class="reference-text">11. http://www.probioticsone.com/content/Study3.pdf</p>
                    <p class="reference-text">12. https://www.ncbi.nlm.nih.gov/pubmed/26592847</p>
                    <p class="reference-text">13. B.Breve & Immunity (Probiotics Function On Immune System) https://www.ncbi.nlm.nih.gov/pubmed/19442167</p>
                    <p class="reference-text">14. C-reactive Protein & B.Breve (Randomised Controlled Trial) https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4463018/</p>
                </div>
                <!--guarantee-box-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--full-wrapper-->
    <div class="container-fluid full_wrapper disclaimer">
        <div class="container site-container">
            <div class="row row_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 disclaimer-text">
                    <p><b>Disclaimer - </b>This presentation has not been approved by the FDA. Always speak to your doctor before making changes to your diet or taking supplements that may interfere with your medication. Provitalize does not treat any disease.</p>
                </div>
                <!--disclaimer-text-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--full-wrapper-->
   
