<div class="block__image_with_text" data-theme-editor-block-36776073749="{&quot;id&quot;:&quot;1544570948171&quot;,&quot;type&quot;:&quot;image_with_text&quot;}"> <!-- Blog posts --> <div class="container standard--width"> <div class="featured_collections
          clearfix across-1 image-align--left"> <section class="featured-link--section featured-link--image section-13"> <div class="featured-link--half featured-link--image featured-link--margin"> <div class="featured-link--wrap"> <a title="Say No To Cravings  &amp; Second Helpings"> <img src="//cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1400x.jpg?v=1544570470" alt="Say No To Cravings  &amp; Second Helpings" class="full-width-image blur-up lazyautosizes lazyloaded" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1400x.jpg?v=1544570470" data-srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_2048x.jpg?v=1544570470 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1600x.jpg?v=1544570470 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1200x.jpg?v=1544570470 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1000x.jpg?v=1544570470 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_800x.jpg?v=1544570470 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_600x.jpg?v=1544570470 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_400x.jpg?v=1544570470 400w" sizes="582px" srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_2048x.jpg?v=1544570470 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1600x.jpg?v=1544570470 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1200x.jpg?v=1544570470 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1000x.jpg?v=1544570470 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_800x.jpg?v=1544570470 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_600x.jpg?v=1544570470 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_400x.jpg?v=1544570470 400w"></a></div></div> <div class="featured-link--half"> <div class="info text-align--left"> <a class="collection_title" data-theme-editor-setting="section.page-details-template.block.1544570948171.title">
                  Say No To Cravings  &amp; Second Helpings</a> <div class="description" data-theme-editor-setting="section.page-details-template.block.1544570948171.text"><p>The natural ingredients have been shown to support smaller appetites and faster satiation.</p>
<p>Donuts, Pizza, Fried Chicken, Ice-Cream, Cookies. If those are your greatest enemies, don't worry Provitalize has got you covered.</p></div></div></div></section></div></div> <style>
            .standard--width .featured-link--margin {
              margin-left: 0%;
              margin-right: 3%;
            }

            .standard--width .image-align--right .featured-link--margin {
              margin-left: 3%;
              margin-right: 0%;
            }

            .standard--width .featured-link--half {
              width: 45%;
            }</style> <!-- Map --></div>

            <div class="block__image_with_text" data-theme-editor-block-36776073749="{&quot;id&quot;:&quot;1544571020560&quot;,&quot;type&quot;:&quot;image_with_text&quot;}"> <!-- Blog posts --> <div class="container standard--width"> <div class="featured_collections
          clearfix across-1 image-align--left"> <section class="featured-link--section featured-link--image section-14"> <div class="featured-link--half featured-link--image featured-link--margin"> <div class="featured-link--wrap"> <a title="Maximize Workout Results"> <img src="//cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1400x.jpg?v=1544570470" alt="Maximize Workout Results" class="full-width-image blur-up lazyautosizes lazyloaded" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1400x.jpg?v=1544570470" data-srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_2048x.jpg?v=1544570470 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1600x.jpg?v=1544570470 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1200x.jpg?v=1544570470 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1000x.jpg?v=1544570470 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_800x.jpg?v=1544570470 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_600x.jpg?v=1544570470 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_400x.jpg?v=1544570470 400w" sizes="582px" srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_2048x.jpg?v=1544570470 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1600x.jpg?v=1544570470 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1200x.jpg?v=1544570470 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1000x.jpg?v=1544570470 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_800x.jpg?v=1544570470 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_600x.jpg?v=1544570470 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_400x.jpg?v=1544570470 400w"></a></div></div> <div class="featured-link--half"> <div class="info text-align--left"> <a class="collection_title" data-theme-editor-setting="section.page-details-template.block.1544571020560.title">
                  Maximize Workout Results</a> <div class="description" data-theme-editor-setting="section.page-details-template.block.1544571020560.text"><p>Whether you're lifting weights, going for HIIT, jogs, daily walks or even going for dance class to get into better shape, Provitalize is there to amplify your results like your personal gym trainer. Minus the musty smell and sweat of course.</p></div></div></div></section></div></div></div>

            <div class="block__image_with_text" data-theme-editor-block-36776073749="{&quot;id&quot;:&quot;1544571069557&quot;,&quot;type&quot;:&quot;image_with_text&quot;}"> <!-- Blog posts --> <div class="container standard--width"> <div class="featured_collections
          clearfix across-1 image-align--left"> <section class="featured-link--section featured-link--image section-15"> <div class="featured-link--half featured-link--image featured-link--margin"> <div class="featured-link--wrap"> <a title="Absorb Important Nutrients Better"> <img src="//cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1400x.jpg?v=1544570470" alt="Absorb Important Nutrients Better" class="full-width-image blur-up lazyautosizes lazyloaded" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1400x.jpg?v=1544570470" data-srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_2048x.jpg?v=1544570470 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1600x.jpg?v=1544570470 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1200x.jpg?v=1544570470 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1000x.jpg?v=1544570470 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_800x.jpg?v=1544570470 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_600x.jpg?v=1544570470 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_400x.jpg?v=1544570470 400w" sizes="582px" srcset=" //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_2048x.jpg?v=1544570470 2048w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1600x.jpg?v=1544570470 1600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1200x.jpg?v=1544570470 1200w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_1000x.jpg?v=1544570470 1000w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_800x.jpg?v=1544570470 800w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_600x.jpg?v=1544570470 600w,
                                        //cdn.shopify.com/s/files/1/2060/5733/files/beach-sunset-thailand_400x.jpg?v=1544570470 400w"></a></div></div> <div class="featured-link--half"> <div class="info text-align--left"> <a class="collection_title" data-theme-editor-setting="section.page-details-template.block.1544571069557.title">
                  Absorb Important Nutrients Better</a> <div class="description" data-theme-editor-setting="section.page-details-template.block.1544571069557.text"><p>Most diets ask you to give up certain foods. This typically includes many natural anti-oxidants and nutrients. Provitalize is there to back you up and provide the right vitamins &amp; supplement your diet with absorption boosters.</p></div></div></div></section></div></div></div>