{% include 'shogun-products', content: page %}
<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
  <h1>
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="clearfix product_form init smart-payment-button--false product_form--dropdown" data-enable-state="true" data-money-format="${{amount}}" data-product="{&quot;id&quot;:1495323508829,&quot;title&quot;:&quot;Provitalize 1 Bottle&quot;,&quot;handle&quot;:&quot;provitalize&quot;,&quot;description&quot;:&quot;\u003cmeta name=\&quot;robots\&quot; content=\&quot;noindex\&quot;\u003e\n\u003cp\u003e\u003cstrong\u003eWhat is Provitalize™?\u003c\/strong\u003e\u003c\/p\u003e\n\u003cp\u003eProvitalize is an all natural supplement that includes key anti-inflammatory ingredients like Turmeric (with BioPerine™), ID-specific probiotic strains and even herbal ingredients like Moringa Leaf (rich in antioxidants and Vitamins A, E, C).\u003cbr\u003e\u003cbr\u003eIt's specifically formulated as a \&quot;hard counter\&quot; to the Standard American Lifestyle, making sure that the gut and body works at peak performance every day.\u003cspan\u003e&nbsp;\u003c\/span\u003e\u003cbr\u003e\u003cbr\u003e\u003c\/p\u003e\n\u003cp\u003e\u003cspan\u003eWhat makes Previtalize unique and superior is its natural blend of herbs that helps your gut readily absorb nutrients, reducing gas, bloating and stomach upset.\u003c\/span\u003e\u003c\/p\u003e\n\u003cbr\u003e\n\u003cul class=\&quot;tabs-content\&quot;\u003e\u003c\/ul\u003e&quot;,&quot;published_at&quot;:&quot;2018-09-14T01:41:04-05:00&quot;,&quot;created_at&quot;:&quot;2018-10-17T03:32:08-05:00&quot;,&quot;vendor&quot;:&quot;Better Body Co.&quot;,&quot;type&quot;:&quot;Provitalize&quot;,&quot;tags&quot;:[&quot;[OCU] Provitalize 1 Bottle Product Funnel&quot;,&quot;hidden&quot;,&quot;provitalize&quot;],&quot;price&quot;:3500,&quot;price_min&quot;:3500,&quot;price_max&quot;:3500,&quot;available&quot;:true,&quot;price_varies&quot;:false,&quot;compare_at_price&quot;:6700,&quot;compare_at_price_min&quot;:6700,&quot;compare_at_price_max&quot;:6700,&quot;compare_at_price_varies&quot;:false,&quot;variants&quot;:[{&quot;id&quot;:15393077526621,&quot;title&quot;:&quot;Default Title&quot;,&quot;option1&quot;:&quot;Default Title&quot;,&quot;option2&quot;:null,&quot;option3&quot;:null,&quot;sku&quot;:&quot;PRV1001-60&quot;,&quot;requires_shipping&quot;:true,&quot;taxable&quot;:false,&quot;featured_image&quot;:null,&quot;available&quot;:true,&quot;name&quot;:&quot;Provitalize 1 Bottle&quot;,&quot;public_title&quot;:null,&quot;options&quot;:[&quot;Default Title&quot;],&quot;price&quot;:3500,&quot;weight&quot;:113,&quot;compare_at_price&quot;:6700,&quot;inventory_quantity&quot;:-1343,&quot;inventory_management&quot;:null,&quot;inventory_policy&quot;:&quot;continue&quot;,&quot;barcode&quot;:&quot;&quot;}],&quot;images&quot;:[&quot;\/\/cdn.shopify.com\/s\/files\/1\/2060\/5733\/products\/Provitalize-1-Bottle-280x280_06e298f0-b458-45c8-bb70-d8693451891d.jpg?v=1539765130&quot;,&quot;\/\/cdn.shopify.com\/s\/files\/1\/2060\/5733\/products\/BB_Better_Weight_60caps_Front_v5_7aede603-93cc-4e7e-a348-52d08fc271a1.png?v=1539765130&quot;,&quot;\/\/cdn.shopify.com\/s\/files\/1\/2060\/5733\/products\/BB_Better_Weight_60caps_Left_v4_3b395fcb-7a9d-4ed0-88cf-149e24109186.png?v=1539765130&quot;,&quot;\/\/cdn.shopify.com\/s\/files\/1\/2060\/5733\/products\/BB_Better_Weight_60caps_Right_v4_182d4c06-6794-4722-9c82-bceb51b37726.png?v=1539765130&quot;],&quot;featured_image&quot;:&quot;\/\/cdn.shopify.com\/s\/files\/1\/2060\/5733\/products\/Provitalize-1-Bottle-280x280_06e298f0-b458-45c8-bb70-d8693451891d.jpg?v=1539765130&quot;,&quot;options&quot;:[&quot;Title&quot;],&quot;content&quot;:&quot;\u003cmeta name=\&quot;robots\&quot; content=\&quot;noindex\&quot;\u003e\n\u003cp\u003e\u003cstrong\u003eWhat is Provitalize™?\u003c\/strong\u003e\u003c\/p\u003e\n\u003cp\u003eProvitalize is an all natural supplement that includes key anti-inflammatory ingredients like Turmeric (with BioPerine™), ID-specific probiotic strains and even herbal ingredients like Moringa Leaf (rich in antioxidants and Vitamins A, E, C).\u003cbr\u003e\u003cbr\u003eIt's specifically formulated as a \&quot;hard counter\&quot; to the Standard American Lifestyle, making sure that the gut and body works at peak performance every day.\u003cspan\u003e&nbsp;\u003c\/span\u003e\u003cbr\u003e\u003cbr\u003e\u003c\/p\u003e\n\u003cp\u003e\u003cspan\u003eWhat makes Previtalize unique and superior is its natural blend of herbs that helps your gut readily absorb nutrients, reducing gas, bloating and stomach upset.\u003c\/span\u003e\u003c\/p\u003e\n\u003cbr\u003e\n\u003cul class=\&quot;tabs-content\&quot;\u003e\u003c\/ul\u003e&quot;}" data-product-id="1495323508829" data-select-id="product-select-1495323508829productproduct-template" data-shop-currency="USD" id="product-form-1495323508829">
		<form accept-charset="UTF-8" action="/cart/add" class="shopify-product-form" enctype="multipart/form-data" id="product_form_1495323508829" method="post" name="product_form_1495323508829">
			<input name="form_type" type="hidden" value="product"><input name="utf8" type="hidden" value="✓"> <input name="id" type="hidden" value="15393077526621">
			<div class="purchase-details">
				<div class="purchase-details__buttons">
					<button class="action_button add_to_cart" data-label="Add to Cart" data-skip-cart="true" name="add" type="button"><span class="text">Add to Cart</span> <svg class="checkmark" height="32px" viewbox="0 0 32 32" width="32px" x="0px" y="0px">
					<path d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11" fill="none" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path></svg></button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>

