<!DOCTYPE html>
<!-- PP PRICETABLE -->
<head>
  
  
   <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NWQKKBG');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="trustpilot-one-time-domain-verification-id" content="LbgqT9fj1SHwN1Ncg8xEJdcHUCXgIUkNvcO7IwjU"/>

    <title>Product Page - Provitalize</title>
   <style>.header , #header{display:none !important;}</style>
 

    {{ 'mainhomeypricetable.css' | asset_url | stylesheet_tag }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
</head>


<body>

<section style="padding-bottom:50px;" id="priceAnchor">

    <div class="price-table">
<!-- 
        <h1>Buy Provitalize Now At Just $1 A Day</h1>
        <h4>ALL options below are <u>one-time purchases</u> only.<br>
        There will NOT be any recurring/subscription charges.</h4> -->
    
    <div class="logo-n-number col-md-12">
        <div class="col-md-4">
        <p class="paracenter"><img class="float-left" src="https://cdn.shopify.com/s/files/1/2060/5733/files/logo_mainsite.png"></p></div>
        <div class="col-md-8 pad0-m col-xs-12">
        <p class="paracenter"><img class="float-right timeline-img" src="https://cdn.shopify.com/s/files/1/2060/5733/files/progress_bar_1.png"></p></div>
    </div>
    <div class="clearfix"></div><br>

    <section id="pricePlans-3h" class="paracenter marg0">
        <div class="pt-container">
            <ul id="plans">
                <li class="plan animated fadeInLeft">
                    <ul class="planContainer-3h">
                        <h2>1 Month Supply</h2>
                        <li class="title-3h">
                            <p>1 Bottle</p>
                        </li>
                        <img class="width80" src="https://cdn.shopify.com/s/files/1/2060/5733/files/1bottle-pt.png">
                        <ul class="options shipping-bottom">
                            <br>
                            <li><span>Retail: </span><span class="line-through">$67</span></li>
                            <br>
                            <li>Now Only </li>
                            <li>$<span class="price-size">35</span></li>
                            <br>
                            <li>+</li><br>
                            <li><img class="width35-3p" src="https://cdn.shopify.com/s/files/1/2060/5733/files/Edited.png"></li>
                        </ul>

                        <li class="button marg-20"><a class="bestPlanButton2 gtm-buy1-pp6" href="/a/secure/checkout/BIB3vsXZ6DbL1BMFNr8v"><img class="width20-cta" src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart-img.png"> one time purchase</a></li>
                    </ul>
                </li>

                <li class="plan plan2 animated fadeInUp">
                    <div class="adaybottle"><img class="width50-hg" src="https://cdn.shopify.com/s/files/1/2060/5733/files/adaybundle_1.png"></div>
                    <ul class="planContainer-3h centerborder-3h">
                        <h2>2 Month Supply</h2>
                        <li class="title-m-3h"> 
                            <p>2 Bottles</p>
                        </li>
                        <li><img class="width80" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2bottle-pt.png"></li>
                       <ul class="options shipping-bottom2">
                            <br>
                            <li><span>Retail: </span><span class="line-through">$201</span></li>
                            <br>
                            <li>Now Only </li>
                            <li>$<span class="price-size">65</span></li>
                            <li>(Only $32.50 Per Bottle)</li>
                            <br>
                            <li>+</li>
                            <br>
                            <li><img class="width80" src="https://cdn.shopify.com/s/files/1/2060/5733/files/cookbook_pt.png"></li>
                            <li>+</li>
                            <br>
                            <li><img class="width35-3p" src="https://cdn.shopify.com/s/files/1/2060/5733/files/Edited.png"></li>
                            
                        </ul>
                        <li class="button marg-20"><a class="mostPopularButton gtm-buy2-pp6" href="/a/secure/checkout/rPAIWNaPAQFIEnDBLdxh"><img class="width20-cta" src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart-img.png"> one time purchase</a></li>
                    </ul>
                </li>

                <li class="plan animated fadeInRight">
                    <ul class="planContainer-3h">
                        <h2>4 Month Supply</h2>
                        <li class="title-3h">
                            
                            <p>4 Bottles</p>
                            
                        </li>
                        <img class="width80" src="https://cdn.shopify.com/s/files/1/2060/5733/files/4bottle-pt.png">
                        <ul class="options shipping-bottom2">
                            <br>
                            <li><span>Retail: </span><span class="line-through">$402</span></li>
                            <br>
                            <li>Now Only </li>
                            <li>$<span class="price-size">120</span></li>
                            <li>(Only $30 Per Bottle)</li>
                            <br>
                            <li>+</li>
                            <br>
                            <li><img class="width80" src="https://cdn.shopify.com/s/files/1/2060/5733/files/cookbook_pt.png"></li>
                            <li>+</li>
                            <br>
                            <li><img class="width35-3p" src="https://cdn.shopify.com/s/files/1/2060/5733/files/Edited.png"></li>
                            
                        </ul>

                        <li class="button marg-20"><a class="bestPlanButton2 gtm-buy4-pp6" href="/a/secure/checkout/nThKcha5YA6FPGyLh9Xt"><img class="width20-cta" src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart-img.png"> one time purchase</a></li>
                    </ul>
                </li>

            </ul> <!-- End ul#plans -->
        </div>
        
    </section>

        
</section>


</body>

</html>

<!-- End of HTML File -->
